<ion-view view-cache="false" view-title="Following">
  <ion-content class="padding">
    <!--<ion-list can-swipe="true">
      <ion-item ng-repeat="item in following" ng-click="profileView(item.following)">
          <h2>{{item.following}}</h2>
          <ion-option-button class="button-balanced" ng-click="share(item)">
            UnFollow
          </ion-option-button>
          <ion-option-button class="button-positive" ng-click="profileView(item.following)">
            View
          </ion-option-button>
      </ion-item>
    </ion-list>-->
    <div class="list">
      <div class="item item-button-right" ng-repeat="f in following" ng-click="profileView(f.following)">
        {{f.following}}
        <button class="button button-positive" ng-click="profileUnfollow(f.following)">
          <i class="icon ion-close-round"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
