<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Login</h1>
    <button class="button button-clear button-primary button-icon ion-close-round" ng-click="closeLogin()"></button>
  </ion-header-bar>
  <ion-content>
    <center><img ng-src="img/logo.png" width="150" /></center>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="username" ng-change="changeUsername()">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="password" ng-model="loginData.password">
        </label>
        <p class="error padding tcenter">Note: User credentials are kept locally on the device. Upon Logout credentials are removed!</p>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
