<ion-popover-view ng-class="{'menuPopover':$root.user,'menuPopoverLog':!$root.user}">
<ion-content ng-class="{'theme-dark':$root.$storage.theme == 'night'}">
  <div class="list">
    <!--<a class="item" href="#"  ng-click="showFilter()">
      <i class="icon ion-stats-bars"></i>
      Sort by trends
    </a>-->
    <a class="item" href="#"  ng-click="clearSearch()" ng-if="$root.$storage.tag">
      <i class="icon ion-close-round"></i>
      #{{$root.$storage.tag}}
    </a>
    <a class="item" href="#"  ng-click="openSmodal()">
      <i class="icon ion-android-search"></i>
      {{'SEARCH'|translate}}
    </a>
    <a class="item" href="#" ng-if="$root.user" ng-click="openPostModal()">
      <i class="icon ion-android-create"></i>
      {{'SUBMIT_A_STORY'|translate}}
    </a>
  </div>
</ion-content>
</ion-popover-view>