<ion-view view-title="Steem">
	<ion-nav-bar class="bar-royal">
	    <ion-nav-buttons side="left">
	      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
	      <button class="button button-icon ion-more" ng-click="openPopover($event)"></button>
	    </ion-nav-buttons>
	</ion-nav-bar>
  <ion-content class="has-header">
    <div class="list" ng-if="$root.$storage.view=='compact' && data.length>0">
    	<!--Compact View-->
    	<div ng-repeat="d in data">
	    	<div class="item">
			    <div ng-click="open(d)">
			    <div class="wrap">
			    	<span class="bold h4">{{d.title}}</span><span class="pull-right"><i class="icon ion-pricetags"></i> {{d.category}}</span>
			    </div><br>
			    <div class=""><i class="icon ion-android-time"></i> {{d.last_update|timeago}} by <i class="icon ion-android-person"></i> {{d.author}}</div>
			    </div>
			    <p>
			      <a href="#" class="subdued"><a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropup-circle':d.upvoted, 'ion-android-arrow-dropup':!d.upvoted}"></i> <i class="ion-social-usd"></i> {{d.total_pending_payout_value.slice(0,-4)|number}}</a>
			      <!--<a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropdown-circle':d.downvoted, 'ion-android-arrow-dropdown':!d.downvoted}"></i> {{d.active_votes.length-item.net_votes}}</a>-->
			      <span class="pull-right"><a href="#" class="subdued">{{d.net_votes}} <i class="icon ion-person"></i></a>|
			      <a href="#" class="subdued"><i class="icon ion-android-chat"></i> {{d.children}}</a></span>
			    </p>
		  	</div>
		</div>
	</div>
	<div class="list card" ng-show="$root.$storage.view=='card' && data.length>0">
		<!--Card View-->
		<div ng-repeat="ds in data">
			<div ng-click="open(ds)">
				<div class="item"><!-- item-avatar">-->
				    <!--<img src="mcfly.jpg">-->
				    <h2>{{ds.title}}</h2><span class="pull-right"><i class="icon ion-pricetags"></i> {{ds.category}}</span>
				    <p>{{ds.last_update|timeago}} by <i class="icon ion-android-person"></i> {{ds.author}}</p>
				</div>
			</div>
			<div class="item item-body">
				<div ng-click="open(ds)">
			    <img class="full-image" ng-src="{{ds.json_metadata.image[0]}}" />
			    <!--<p ng-bind-html="d.body.substring(0, 50)|parseUrl">
			    </p>-->
			    </div>
			    <p>
			      <a href="#" class="subdued"><a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropup-circle':ds.upvoted, 'ion-android-arrow-dropup':!ds.upvoted}"></i> <i class="ion-social-usd"></i> {{ds.total_pending_payout_value.slice(0,-4)|number}}</a>
			      <!--<a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropdown-circle':d.downvoted, 'ion-android-arrow-dropdown':!d.downvoted}"></i> {{d.active_votes.length-item.net_votes}}</a>-->
			      <span class="pull-right"><a href="#" class="subdued">{{ds.net_votes}} <i class="icon ion-person"></i></a>|
			      <a href="#" class="subdued"><i class="icon ion-android-chat"></i> {{ds.children}}</a></span>
			    </p>
			</div>
		</div>
	</div>
	<center ng-if="data.length>0"><button class="button button-small button-positive icon ion-refresh" ng-click="loadMore()">
      Load More
    </button></center>
    <br>
	<!--<ion-infinite-scroll on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>-->
  </ion-content>
</ion-view>
