<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-arrow-left-c" ng-click="closeModal()"></button>
    <h1 class="title">Reply to @{{post.author}}</h1>
    <button class="button button-positive button-primary" ng-click="reply()">POST</button>
  </ion-header-bar>
  <ion-content class="padding">
      <wiz-markdown-editor content="data.comment">
        <wiz-toolbar-button command="bold" class="button button-small"><b>B</b></wiz-toolbar-button>
        <wiz-toolbar-button command="italic" class="button button-small"><i>I</i></wiz-toolbar-button>

        <wiz-toolbar-button command="code" class="button button-small"><i class="icon ion-code"></i></wiz-toolbar-button>
        <wiz-toolbar-button command="ullist" class="button button-small"><img src="img/ullist.png"/></wiz-toolbar-button>
        <wiz-toolbar-button command="ollist" class="button button-small"><img src="img/ollist.png"/></wiz-toolbar-button>
        <wiz-toolbar-button command="link" class="button button-small"><i class="icon ion-link"></i></wiz-toolbar-button>
        <wiz-toolbar-button command="img" class="button button-small"><i class="icon ion-image"></i></wiz-toolbar-button>
        <wiz-toolbar-button command="hr" class="button button-small">HR</wiz-toolbar-button>
        <wiz-toolbar-button command="heading" class="button button-small">H</wiz-toolbar-button>
      </wiz-markdown-editor>
      <hr>
      <p>Preview</p>
      <div ng-if="data.comment" class="padding bodytext" ng-bind-html="data.comment | parseUrl "></div>
      <!--undo, redo, bold, italic, heading, code, ullist, ollist, indent, outdent, link, img, hr, h0, h1, h2, h3, h4, h5, h6, tab, untab-->
  </ion-content>
</ion-modal-view>