<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-arrow-left-c" ng-click="closeModal()"></button>
    <h1 class="title">{{'REPLYTO'|translate}} @{{post.author}}</h1>
    <button class="button button-positive button-primary" ng-click="reply()">{{'POST'|translate}}</button>
  </ion-header-bar>
  <ion-content class="padding posting" overflow-scroll="false">
    <div ng-if="post.body&&post.parent_author!=''" class="padding bodytext selectable" ng-bind-html="post.body | parseUrl"></div>
    <textarea autofocus ng-model='data.comment' rows="10" placeholder="{{'COMMENT_CONTENT'|translate}}" class="width100" ng-focus='cfocus()'></textarea>
      <p ng-if="data.comment">{{'PREVIEW'|translate}}</p>
      <div ng-if="data.comment" class="padding bodytext" ng-bind-html="data.comment | parseUrl "></div>
  </ion-content>
  <ion-slides options="options" class="drawer" ng-if="showgallery" slider="gallery.slider">
    <ion-slide-page ng-repeat="image in gallery.images" ng-if="image.url" ng-click="addImage(image.url)">
      <!--<div ng-if="offer.Image.length>0">
        <img src="{{offer.Image[0].src}}" alt="" />
      </div>-->
      <img ng-src = "{{image.url}}" />
    </ion-slide-page>
  </ion-slides>
  <ion-footer-bar align-title="left" ng-if="showgallery" class="story">
    <div class="button-bar">
       <a class="button button-small" ng-click="closeGallery()"><i class="icon ion-ios-close-empty"></i>{{'CLOSE'|translate}}</a>
       <a class="button button-small" ng-click="manageGallery()"><i class="icon ion-ios-cog-outline"></i>{{'MANAGE'|translate}}</a>
     </div>
  </ion-footer-bar>
  <ion-footer-bar align-title="left" ng-if="!showgallery" keyboard-attach class="story">
    <div class="button-bar">
      <a class="button button-small" ng-click="insertText('**bold**')"><i class="fa fa-bold"></i></a>
      <a class="button button-small" ng-click="insertText('*italic*')"><i class="fa fa-italic"></i></a>
      <a class="button button-small" ng-click="insertText('# header')"><i class="fa fa-header"></i></a>
      <a class="button button-small" ng-click="insertText('<code>code</code>')"><i class="fa fa-code"></i></a>
      <a class="button button-small" ng-click="insertText('>quote')"><i class="fa fa-quote-right"></i></a>
      <a class="button button-small" ng-click="insertText('1. item')"><i class='fa fa-list'></i></a>
      <a class="button button-small" ng-click="insertText('* item')"><i class='fa fa-list-ol'></i></a>
      <a class="button button-small" ng-click="insertText('<hr>')"><i class="fa ion-minus"></i></a>
      <a class="button button-small" ng-click="showImg()"><i class="fa fa-picture-o"></i></a>
    </div>
  </ion-footer-bar>
</ion-modal-view>
