<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-arrow-left-c"  ng-click="closePostModal()"></button>
    <h1 class="title">{{'SUBMIT_A_STORY'|translate}}</h1>
    <button class="button button-positive button-primary" ng-disabled="disableBtn" ng-click="submitStory()">{{'POST'|translate}}</button>
  </ion-header-bar>
  <ion-content class="padding posting" overflow-scroll="true">
    <input type="text" name="title" placeholder="{{'TITLE'|translate}}" ng-model="spost.title" style="width:100%;">

    <textarea ng-model='spost.body' autofocus rows="15" placeholder="{{'POST_CONTENT'|translate}}" class="width100" ng-focus='cfocus()'></textarea>
      <input type="text" name="categories" placeholder="{{'TAGS'|translate}}" ng-model="spost.tags" ng-change="tagsChange()" style="width:100%;">
      <div class="row">
        <div class="col">
           <select ng-model='spost.operation_type' style="width: 100%;" ng-if='!edit'>
              <option selected value='default'>{{'DEFAULT'|translate}}</option>
              <option value='sp'>{{'POWERUP'|translate:'{ platformpower:"Steem Power" }' }}</option>
              <option value='dp'>{{'DECLINE_PAYOUT'|translate}}</option>
           </select>
        </div>
        <div class="col tcenter">
          <button class="button button-calm button-small" ng-click="savePost()">{{'SAVE_FOR_LATER'|translate}}</button>
          <button class="button button-light button-small" ng-click="clearPost()">{{'CLEAR'|translate}}</button>
        </div>
      </div>
      <p ng-if="spost.body">{{'PREVIEW'|translate}}</p>
      <div ng-if="spost.body" class="padding bodytext" ng-bind-html="spost.body | parseUrl "></div>
      <br/>
  </ion-content>
  <ion-slides options="options" class="drawer" ng-if="showgallery" slider="gallery.slider">
    <ion-slide-page ng-repeat="image in gallery.images" ng-if="image.url" ng-click="insertText('![image]('+image.url+')')">
      <!--<div ng-if="offer.Image.length>0">
        <img src="{{offer.Image[0].src}}" alt="" />
      </div>-->
      <img ng-src = "{{image.url}}" />
    </ion-slide-page>
  </ion-slides>
  <ion-footer-bar align-title="left" ng-if="showgallery" class="story">
    <div class="button-bar">
       <a class="button button-small" ng-click="closeGallery()"><i class="icon ion-ios-close-empty"></i>{{'CLOSE'|translate}}</a>
       <a class="button button-small" ng-click="manageGallery()"><i class="icon ion-ios-cog-outline"></i>{{'MANAGE'|translate}}</a>
     </div>
  </ion-footer-bar>
  <ion-footer-bar align-title="left" keyboard-attach ng-if="!showgallery" class="story">
   <div class="button-bar">
      <a class="button button-small" ng-click="insertText('**bold**')"><i class="fa fa-bold"></i></a>
      <a class="button button-small" ng-click="insertText('*italic*')"><i class="fa fa-italic"></i></a>
      <a class="button button-small" ng-click="insertText('# header')"><i class="fa fa-header"></i></a>
      <a class="button button-small" ng-click="insertText('<code>code</code>')"><i class="fa fa-code"></i></a>
      <a class="button button-small" ng-click="insertText('>quote')"><i class="fa fa-quote-right"></i></a>
      <a class="button button-small" ng-click="insertText('1. item')"><i class='fa fa-list'></i></a>
      <a class="button button-small" ng-click="insertText('* item')"><i class='fa fa-list-ol'></i></a>
      <a class="button button-small" ng-click="insertText('<hr>')"><i class="fa ion-minus"></i></a>
      <a class="button button-small" ng-click="showImg()"><i class="fa fa-picture-o"></i></a>
    </div>
  </ion-footer-bar>
</ion-modal-view>
