<ion-modal-view class='mymodal'>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-icon ion-arrow-left-c" on-tap="closePostModal()"></button>
    <h1 class="title">{{'SUBMIT_A_STORY'|translate}}</h1>
    <div class="buttons">
    <button class="button button-positive button-primary" ng-disabled="disableBtn" ng-click="submitStory()">{{'POST'|translate}}</button>
    <button class="button button-positive button-primary" ng-if="spost.advanced && $root.$storage.chain !== 'golos'" ng-disabled="!spost.permission" ng-click="scheduleStory()">{{'SCHEDULE'|translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding posting" overflow-scroll="false" ng-class="{'theme-dark':$root.$storage.theme == 'night'}">
    <input type="text" name="title" placeholder="{{'TITLE'|translate}}" ng-model="spost.title" style="width:100%;">
    <textarea ng-model='spost.body' rows="8" placeholder="{{'POST_CONTENT'|translate}}" class="width100" ng-focus='cfocus()'></textarea><!---->
      <input type="text" name="categories" placeholder="{{'TAGS'|translate}}" ng-model="spost.tags" ng-change="tagsChange()" style="width:100%;" autocapitalize="off">
      <div class="row" ng-if="spost.advanced">
        <div class="col item item-input">
          <ion-checkbox ng-model="spost.upvote_this" ng-if='!edit'>{{'UPVOTE'|translate}}</ion-checkbox> 
        </div>
        <div class="col item item-select">
          <select ng-model='spost.operation_type' style="width: 100%;" ng-if='!edit'>
              <option selected value='default'>{{'DEFAULT'|translate}}</option>
              <option value='sp'>{{'POWERUP'|translate:'{ platformpower:"Steem Power" }' }}</option>
              <option value='dp'>{{'DECLINE_PAYOUT'|translate}}</option>
           </select>
        </div>
      </div>
      <label class = "item item-input item-select" ng-if="spost.advanced">
         <div class = "input-label">
            {{'LANGUAGE'|translate}}
         </div>  
         <select ng-model="spost.language" ng-change='changePostLanguage(spost.language)'>
            <option value="" selected></option>
            <option ng-repeat="option in $root.$storage.languages" value="{{option.id}}">{{option.name}}</option>
          </select>
      </label>
      
      <ion-toggle ng-model="spost.permission" ng-if="spost.advanced && $root.$storage.chain !== 'golos'" toggle-class="toggle-calm" ng-change="changePermission()">{{'PERMISSION'|translate}}</ion-toggle>
      <div class="row" ng-if="spost.advanced && spost.permission">
        <div class="col">
          <div class="item" ion-datetime-picker ng-model="spost.schedule" only-valid="{'after': 'today', 'inclusive': true}" ng-if="spost.advanced && $root.$storage.chain !== 'golos'">{{'SCHEDULE'|translate}}: {{spost.schedule| date: "yyyy-MM-dd H:mm:ss"}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
           <ion-toggle ng-model="spost.advanced" ng-disabled="edit" toggle-class="toggle-calm">{{'ADVANCED'|translate}}</ion-toggle>
        </div>
        <div class="col tcenter button-bar-story">
          <div class="button-bar">
            <button class="button button-calm button-small" ng-click="savePost()">{{'SAVE'|translate}}</button>
            <button class="button button-light button-small" ng-click="clearPost()">{{'CLEAR'|translate}}</button>
          </div>
        </div>
      </div>
      <p ng-if="spost.body">{{'PREVIEW'|translate}}</p>
      <div ng-if="spost.body" class="padding bodytext" ng-bind-html="spost | parseUrl "></div>
      <br/>
  </ion-content>
  <ion-slides options="options" class="drawer" ng-if="showgallery" slider="gallery.slider">
    <ion-slide-page ng-repeat="image in gallery.images" ng-if="image.url" ng-click="insertText('![image]('+image.url+')')">
      <!--<div ng-if="offer.Image.length>0">
        <img src="{{offer.Image[0].src}}" alt="" />
      </div>-->
      <img ng-src = "{{image.url}}" />
    </ion-slide-page>
  </ion-slides>
  <ion-footer-bar align-title="left" ng-if="showgallery" class="story">
    <div class="button-bar">
       <a class="button button-small" ng-click="closeGallery()"><i class="icon ion-ios-close-empty"></i>{{'CLOSE'|translate}}</a>
       <a class="button button-small" ng-click="manageGallery()"><i class="icon ion-ios-cog-outline"></i>{{'MANAGE'|translate}}</a>
     </div>
  </ion-footer-bar>
  <ion-footer-bar align-title="left" keyboard-attach ng-if="!showgallery" class="story">
   <div class="button-bar">
      <a class="button button-small" ng-click="insertText('**bold**', 2)"><i class="fa fa-bold"></i></a>
      <a class="button button-small" ng-click="insertText('*italic*', 1)"><i class="fa fa-italic"></i></a>
      <a class="button button-small" ng-click="insertText('# header', 2)"><i class="fa fa-header"></i></a>
      <a class="button button-small" ng-click="insertText('<code>code</code>', 6)"><i class="fa fa-code"></i></a>
      <a class="button button-small" ng-click="insertText('>quote', 1)"><i class="fa fa-quote-right"></i></a>
      <a class="button button-small" ng-click="insertText('1. item', 3)"><i class='fa fa-list-ol'></i></a>
      <a class="button button-small" ng-click="insertText('* item', 2)"><i class='fa fa-list'></i></a>
      <a class="button button-small" ng-click="insertText('<hr>')"><i class="fa ion-minus"></i></a>
      <a class="button button-small" ng-click="showImg()"><i class="fa fa-picture-o"></i></a>
      <a class="button button-small" ng-click="hideKeyboard()"><i class="fa fa-keyboard-o"></i></a>
    </div>
  </ion-footer-bar>
</ion-modal-view>
