<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727329145824-csv1i34de9h95lgguot23rs4umg36g7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727329145824-csv1i34de9h95lgguot23rs4umg36g7d</string>
	<key>API_KEY</key>
	<string>AIzaSyCakWFp68Hzuly-HV6BNqMmoDxgtByA8_4</string>
	<key>GCM_SENDER_ID</key>
	<string>727329145824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netsolutions.esteem</string>
	<key>PROJECT_ID</key>
	<string>esteem-b829d</string>
	<key>STORAGE_BUCKET</key>
	<string>esteem-b829d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:727329145824:ios:371b5b4551cc7d63</string>
	<key>DATABASE_URL</key>
	<string>https://esteem-b829d.firebaseio.com</string>
</dict>
</plist>