<ion-view view-cache="false" view-title="About">
  <ion-content class="padding">
    <center><img src="img/logo.png"></center>
    <p><b>eSteem</b> - where anyone can earn rewards.</p>
    <p><b>eSteem</b> is powered by <b><a href="https://steem.io" target="_blank">Steem</a></b> platform. App is created by <a href="#app/profile/good-karma">@good-karma</a> and it is open-source, community driven mobile project.<br/>
    <b>eSteem</b> offers content access for reading, commenting, voting, posting, transfer, etc. (and many more for mobile specific functionalities) features offered by Steem blockchain and <b><a href="https://steemit.com" target="_blank">Steemit</a></b>.
    <br><br>

    1. App never access or hold onto user funds.<br>
    2. App offer a client-side security model, with private keys hosted locally and never sent to any servers.<br>
    3. App offers simple, attractive user interfaces and experiences<br>
    4. App never require users to input any personal information

    </p>
    <p>
    <b><u>Contact/Feedback:</u></b> <a href="mailto:netsolutions-info@yandex.com??Subject=Feedback">netsolutions-info@yandex.com</a>
    </p>
    <center><button class="button button-positive" ng-if="$root.$storage.user.username" ng-click="$root.voteWitness()">Vote Witness @good-karma</button></center>
  </ion-content>
</ion-view>
