<ion-view view-cache="false" view-title="{{'ABOUT' | translate}} - v{{$root.$storage.appversion}}">
  <ion-content class="padding" ng-class="{'theme-dark':$root.$storage.theme == 'night'}">
    <center><img src="img/about.png"></center>
    <p><b>eSteem</b> {{'ABOUT_2'|translate}} <div ng-bind-html="'ABOUT_11'|translate"></div>
    </p>
    <p ng-if="$root.user">{{"FOUNDER"|translate}} <a href="#app/profile/good-karma">good-karma</a></p>
    <div class="tcenter" ng-if="$root.user"><span ng-if="!$root.isWitnessVoted()"><button class="button button-positive" ng-click="$root.voteWitness()">{{'ABOUT_8'|translate}}</button></span></div>
    <p>
    <b><u>{{'ABOUT_9'|translate}}</u></b>
    <br><a href="mailto:info@esteem.ws?Subject=Feedback">info@esteem.ws</a>
    <br><a href="http://esteem.ws">http://esteem.ws</a>
    </p>
    <p>
        <b><u>{{'TRANSLATIONS'|translate}}</u></b><br>
        English US - <a href="#app/profile/sassal">sassal</a>, <a href="#app/profile/robertdurst10">robertdurst10</a><br>
        Русский - <a href="#app/profile/testz">testz</a>, <a href="#app/profile/on0tole">on0tole</a><br>
        Deutsch - <a href="#app/profile/dez1337">dez1337</a>, <a href="#app/profile/homosapiens">homosapiens</a>, <a href="#app/profile/uwelang">uwelang</a>, <a href="#app/profile/alexpfeiffer">alexpfeiffer</a><br>
        Français - <a href="#app/profile/pickoum">pickoum</a>, <a href="#app/profile/dimitrya123">dimitrya123</a><br>
        Español - <a href="#app/profile/dresden">dresden</a>, <a href="#app/profile/pgarcgo">pgarcgo</a><br>
        Ελληνικά - <a href="#app/profile/liondani">liondani</a>, <a href="#app/profile/steemychicken1">steemychicken1</a><br>
        Български - <a href="#app/profile/rossenpavlov">rossenpavlov</a><br>
        Nederlands - <a href="#app/profile/maxse">maxse</a>, <a href="#app/profile/edje">edje</a><br>
        Magyar - <a href="#app/profile/tibonova">tibonova</a><br>
        Čeština - <a href="#app/profile/valtr">valtr</a>, <a href="#app/profile/eirik">eirik</a><br>
        עברית‎ - <a href="#app/profile/bosrad">bosrad</a><br>
        Polski - <a href="#app/profile/knittybynature">knittybynature</a>, <a href="#app/profile/gtg">gtg</a><br>
        Português - <a href="#app/profile/alamyrjunior">alamyrjunior</a>, <a href="#app/profile/charlie777pt">charlie777pt</a><br>
        Português BR - <a href="#app/profile/charlie777pt">charlie777pt</a><br>
        Bahasa Indonesia - <a href="#app/profile/levycore">levycore</a>, <a href="#app/profile/happyphoenix">happyphoenix</a>, <a href="#app/profile/jumaidafajar">jumaidafajar</a><br>
        繁體中文 - <a href="#app/profile/deanliu">deanliu</a>, <a href="#app/profile/innertin">innertin</a>, <a href="#app/profile/ygern">ygern</a>, <a href="#app/profile/nanosesame">nanosesame</a>, <a href="#app/profile/kenchung">kenchung</a><br>
        简体中文 - <a href="#app/profile/huangdashuang">huangdashuang</a>, <a href="#app/profile/oflyhigh">oflyhigh</a>, <a href="#app/profile/lucid">lucid</a>, <a href="#app/profile/jtfish">jtfish</a>, <a href="#app/profile/tanyehwen">tanyehwen</a><br>
        Dolan - <a href="#app/profile/maxse">maxse</a><br>
        Svensk - <a href="#app/profile/acidyo">acidyo</a>, <a href="#app/profile/the-ego-you">the-ego-is-you</a><br>
        Українська - <a href="#app/profile/erikaflynn">erikaflynn</a>, <a href="#app/profile/artem-sokoloff">artem-sokoloff</a><br>
        Bahasa Melayu - <a href="#app/profile/kevinwong">kevinwong</a>, <a href="#app/profile/killuminatic">killuminatic</a><br>
        Hrvatski - <a href="#app/profile/fibra59">fibra59</a><br>
        Fārsi - <a href="#app/profile/meysam">meysam</a><br>
        Italiano - <a href="#app/profile/bhuz">bhuz</a>, <a href="#app/profile/duranzo89">duranzo89</a>, <a href="#app/profile/silviabeneforti">silviabeneforti</a><br>
        Wikang Filipino - <a href="#app/profile/themanualbot">themanualbot</a><br>
        عَرَبِيّ - <a href="#app/profile/bbkoopsta">bbkoopsta</a><br>
        Lietuvių - <a href="#app/profile/pjo">pjo</a><br>
        Latviešu - <a href="#app/profile/edmundspriede">edmundspriede</a>, <a href="#app/profile/edds">edds</a><br>
        日本語 - <a href="#app/profile/yadamaniart">yadamaniart</a>, <a href="#app/profile/boxcarblue">boxcarblue</a>, <a href="#app/profile/yukihiro3005">yukihiro3005</a><br>
        Bosanski - <a href="#app/profile/bosman">bosman</a><br>
        한국어 - <a href="#app/profile/zotta">zotta</a>, <a href="#app/profile/junu944">junu944</a>, <a href="#app/profile/cro">cro</a>, <a href="#app/profile/sanghkaang">sanghkaang</a><br>
        Suomen kieli - <a href="#app/profile/rabbe123">rabbe123</a>, <a href="#app/profile/ambyR00">ambyR00</a><br>
        اُردُو - <a href="#app/profile/infinitor">infinitor</a><br>
        हिन्दी - <a href="#app/profile/jmehta">jmehta</a>, <a href="#app/profile/iamsgr">iamsgr</a>, <a href="#app/profile/jznsamuel">jznsamuel</a><br>
        ภาษาไทย - <a href="#app/profile/olisan">olisan</a>, <a href="#app/profile/jackchalat">jackchalat</a>, <a href="#app/profile/wikawee">wikawee</a><br>
        
        Català - <a href="#app/profile/sotergabor">sotergabor</a><br>
        বাংলা - <a href="#app/profile/tamsguitar">tamsguitar</a>, <a href="#app/profile/rishi2184">rishi2184</a><br>
        Slovenčina - <a href="#app/profile/eirik">eirik</a><br>
        नेपाली भाषा - <a href="#app/profile/sotergabor">sotergabor</a><br>
        Shqip - <a href="#app/profile/bobskibob69">bobskibob69</a>, <a href="#app/profile/florealx">florealx</a><br>
        English GB - <a href="#app/profile/brameld">brameld</a><br>
        English CA - <a href="#app/profile/valencra">valencra</a><br>
        தமிழ் - <a href="#app/profile/jznsamuel">jznsamuel</a><br>
        Norsk - <a href="#app/profile/bymma">bymma</a><br>

        <!--
        new contributors:
        
        Chinese simplified - http://translate.esteem.ws/profile/ginafraser, http://translate.esteem.ws/profile/kaiching77
        Danish - Katharsisdrill, jeppeskovkristensen
        Malay - krishko650
        Arabic - steemmaster
        Romanian - bitkoin, cosminalexandru, shinsan
        German - junu944
        Swedish - liyagajardo
        Dutch - skririm
        Latvian - edds

        German - sarasate, komischername
        Portuguese - kartoshki, ardaia
        Persian - cnsaad
        Arabic - steemmaster, moataz
        Albanian - florealx, jawjaw
        Serbian - Destruxia, jovana19, keysikg
        Nepali - gaborsoter, aashishkandel
        Tamil - jznsamuel
        Indonesian - jamhuery
        Norwegian -  bymma
        
        Chinese tr - kenchung
        Italian - http://translate.esteem.ws/profile/duranzo89
        Portuguese - http://translate.esteem.ws/profile/jose.filipe.higino
        -->
    </p>
    <p>
    <b><u>{{'ABOUT_10'|translate}}</u></b>
    <br><a href="https://steem.io">https://steem.io</a>
    <br><a href="https://golos.io">https://golos.io</a>
    </p>
  </ion-content>
</ion-view>
