<ion-view view-cache="false" view-title="{{'ABOUT' | translate}}">
  <ion-content class="padding">
    <center><img src="img/about.png"></center>
    <p><b>eSteem</b> - {{'ABOUT_1'|translate}}</p>
    <p><b>eSteem</b> {{'ABOUT_2'|translate}} <span ng-if="$root.$storage.user"><a href="#app/profile/good-karma">good-karma</a></span><span ng-if="!$root.$storage.user">good-karma</span> {{'ABOUT_3'|translate}}
    <br>
    {{'ABOUT_4'|translate}}<br>
    {{'ABOUT_5'|translate}}<br>
    {{'ABOUT_6'|translate}}<br>
    {{'ABOUT_7'|translate}}
    </p>
    <div class="tcenter" ng-if="$root.$storage.user"><span ng-if="!$root.isWitnessVoted()"><button class="button button-positive" ng-click="$root.voteWitness()">{{'ABOUT_8'|translate}}</button></span></div>
    <p>
    <b><u>{{'ABOUT_9'|translate}}</u></b>
    <br><a href="https://steemit.chat/direct/good-karma" target="_blank">steemit.chat/good-karma/</a>
    <br><a href="mailto:info@esteem.ws?Subject=Feedback">info@esteem.ws</a>
    </p>
    <p>
    <b><u>{{'ABOUT_10'|translate}}</u></b>
    <br><a href="http://esteem.ws">http://esteem.ws</a>
    <br><a href="https://steem.io">https://steem.io</a>
    <br><a href="https://steemit.com">https://steemit.com</a>
    </p>
    
  </ion-content>
</ion-view>
