<ion-view view-title="{{'BOOKMARKS' | translate}}">
  <ion-content class="has-header">
	<ion-list ng-if="$root.$storage.bookmark" can-swipe="true">
  		<ion-item ng-repeat="item in $root.$storage.bookmark" ng-click="$root.getContentAndOpen(item)">
		    <p><h2>{{item.author}}</h2></p>
        <p>{{item.permlink}}</p>
		    <div class="row postdetails twrap"><div class="col"><i class="icon ion-android-time"></i> {{item.created|timeago}}</div></div>
		    <ion-option-button class="button-assertive" ng-click="removeBookmark($index)">{{'REMOVE' | translate}}
		    </ion-option-button>
    	</ion-item>
    </ion-list>
    <p class="tcenter gray padding" ng-if="$root.$storage.bookmark.length>0">{{'SWIPE_LEFT'|translate}}</p>
    <p class="tcenter gray padding" ng-if="$root.$storage.bookmark.length==0">{{'NOTHING_HERE'|translate}}</p>

  </ion-content>
</ion-view>
