<ion-view view-title="{{'DRAFTS' | translate}}">
  <ion-content class="has-header">
	<ion-list ng-if="drafts" can-swipe="true">
  		<ion-item ng-repeat="item in drafts" ng-click="$root.openDraft(item)">
		    <p><h2>{{item.title}}</h2></p>
			    <div class="row postdetails twrap"><div class="col"><i class="icon ion-android-time"></i> {{item.created|timeago}}&nbsp;{{'TAGS' | translate}}:&nbsp;<b>{{item.tags}}</b></div></div>
		    <ion-option-button class="button-assertive" ng-click="removeDraft(item._id)">{{'REMOVE' | translate}}
		    </ion-option-button>
    	</ion-item>
    </ion-list>
    <p class="tcenter gray" ng-if="drafts.length>0">{{'SWIPE_LEFT'|translate}}</p>
    <p class="tcenter gray" ng-if="drafts.length==0">{{'NOTHING_HERE'|translate}}</p>

  </ion-content>
</ion-view>
