<ion-view view-cache="false" view-title="{{'MARKET_VIEW' | translate}}">
  <ion-content class="padding has-footer exchange">
    <div class="" ng-if="active=='buy'">
      <div class="row header">
        <div class="col">{{'PRICE' | translate}}</div>
        <div class="col">{{'AMOUNT' | translate}}</div>
        <div class="col">{{'TOTAL' | translate}}</div>
      </div>
      <div class="row" ng-repeat="(key, f) in orders.bids">
        <div class="col">{{f.real_price|number:4}}</div>
        <div class="col">{{f.order_price.quote}}</div>
        <div class="col">{{f.order_price.base}}</div>
      </div>
    </div>
    <div class="" ng-if="active=='sell'">
      <div class="row header">
        <div class="col">{{'PRICE' | translate}}</div>
        <div class="col">{{'AMOUNT' | translate}}</div>
        <div class="col">{{'TOTAL' | translate}}</div>
      </div>
      <div class="row" ng-repeat="(key, f) in orders.asks">
        <div class="col">{{f.real_price|number:4}}</div>
        <div class="col">{{f.order_price.quote}}</div>
        <div class="col">{{f.order_price.base}}</div>
      </div>
    </div>
    <div class="" ng-if="active=='open'">
      <p class="padding" ng-if="openorders.length<1">
        {{'NOORDERS' | translate}} @{{username}}
      </p>
      <div ng-if="openorders.length>0">
        <div class="row header">
          <div class="col">{{'PRICE' | translate}}</div>
          <div class="col">{{'AMOUNT' | translate}}</div>
          <div class="col">{{'TOTAL' | translate}}</div>
        </div>
        <div class="row" ng-repeat="(key, f) in openorders">
          <div class="col">{{f.real_price|number:4}}</div>
          <div class="col" ng-if="f.seller==$root.$storage.user.username">{{f.sell_price.quote}}</div>
          <div class="col" ng-if="f.seller==$root.$storage.user.username">{{f.sell_price.base}}</div>
          <div class="col" ng-if="f.buyer==$root.$storage.user.username">{{f.buy_price.quote}}</div>
          <div class="col" ng-if="f.buyer==$root.$storage.user.username">{{f.buy_price.base}}</div>
        </div>
      </div>
    </div>
    <div class="" ng-if="active=='history'">
      <!--<p class="padding">Nothing here, yet...</p>-->
      <div ng-if="recent_trades.length>0">
        <div class="row header">
          <div class="col">{{'DATE' | translate}}</div>
          <div class="col">{{'PRICE' | translate}}</div>
          <div class="col">{{$root.$storage.platformsunit}}</div>
          <div class="col">{{$root.$storage.platformdollar}}</div>
        </div>
        <div class="row" ng-repeat="(key, f) in recent_trades">
          <div class="col">{{f.date|timeago}}</div>
          <div class="col">{{f.current_pays.split(" ")[0]/f.open_pays.split(" ")[0]|number:6}}</div>
          <div class="col">{{f.current_pays.split(" ")[0]|number:3}}</div>
          <div class="col">{{f.open_pays.split(" ")[0]|number:3}}</div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="profile bar bar-footer">
    <div class="button-bar">
      <a class="button button-large button-royal icon ion-arrow-down-a" ng-class="{'active':active=='buy'}" ng-click="change('buy')"> {{'BUY' | translate}}</a>
      <a class="button button-royal icon ion-arrow-up-a" ng-class="{'active':active=='sell'}" ng-click="change('sell')"> {{'SELL' | translate}}</a>
      <a class="button button-royal icon ion-flag" ng-class="{'active':active=='open'}" ng-click="change('open')">{{'OPEN' | translate}}</a>
      <a class="button button-royal icon ion-ios-clock" ng-class="{'active':active=='history'}"  ng-click="change('history')">{{'HISTORY' | translate}}</a>
    </div>
  </div>
</ion-view>
