<ion-view view-cache="false" view-title="{{'MARKETPLACE' | translate}}">
  <ion-content class="padding">
    <div class="row">
      <div class="col" ng-click="requestApp('SteemMonitor')">
        <center>
          <img src="img/logo_steemmonitor.png" alt="Steem Monitor" width="100">
          <b>Steem Monitor</b>
        </center>
      </div>
      <div class="col" ng-click="requestApp('SteemFest')">
        <center>
          <img src="img/logo_steemfest.png" alt="Steem Fest" width="100">
          <b>Steem Fest</b>
        </center>
      </div>
    </div><br/>
    <div class="row">
      <div class="col" ng-click="requestApp('New')">
        <center>
          <img src="img/plus.png" alt="Suggest New" width="100">
          <b>Suggest New</b>
        </center>
      </div>
      <div class="col">
      </div>
    </div>
  </ion-content>
</ion-view>
