<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--<ion-header-bar class="bar-positive" ng-if="!$root.$storage.user">
      <h1 class="title center">eSteem</h1>
    </ion-header-bar>-->
    <ion-content>
      <div ng-if="!$root.$storage.user">
        <center>
          <p>
            <img ng-src="img/about.png" width="200" />
          </p>
        </center>
      </div>
      <div ng-if="$root.$storage.user" ng-style="$root.$storage.user.json_metadata.profile.cover_image ? mcss : null">
      <br>
        <center>
          <a menu-close href="#/app/profile/{{$root.$storage.user.username}}" class="item-myavatar" ng-if="$root.$storage.user">
            <span class="item-myavatar" ng-if="!$root.$storage.user.json_metadata.profilePicUrl && !$root.$storage.user.json_metadata.profile.profile_image"><img src="img/photo.png"></span>
            <img ng-src="{{$root.$storage.user.json_metadata.profile.profile_image || $root.$storage.user.json_metadata.profilePicUrl}}" ng-if="$root.$storage.user.json_metadata.profilePicUrl || $root.$storage.user.json_metadata.profile.profile_image" />
          </a>
          <div ng-class="{'footprofileinfomenu':$root.$storage.user.json_metadata.profile.cover_image}">
            <div class="h4">@{{$root.$storage.user.username}}&nbsp;<div class="reputation">{{$root.$storage.user.reputation|reputation:true|number:1}}</div></div>
            <div ng-click="showMeExtra()" class="padding"><i class="icon ion-android-list"></i>&nbsp;{{$root.$storage.user.post_count}}&nbsp;&nbsp;<i class="icon ion-arrow-graph-up-right"></i>&nbsp;{{$root.$storage.user.voting_power/100|number:2}} <i class="icon pull-right" ng-class="{'ion-arrow-down-b':!showExtra, 'ion-arrow-up-b':showExtra}"></i></div>
          </div>
        </center>
      </div>
      <div ng-if="showExtra">
        <ion-list>
          <ion-item menu-close href="#/app/profile/{{$root.$storage.user.username}}" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-person"></i>
            {{'PROFILE'|translate}}
          </ion-item>
          <ion-item menu-close href="#/app/follow" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-person-stalker"></i>
            {{'FOLLOW'|translate}}
          </ion-item>
          <ion-item menu-close ng-click="logout()" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-log-out"></i>
            {{'LOGOUT'|translate}}
          </ion-item>
        </ion-list>
      </div>
      <ion-list>
        <ion-item menu-close ng-click="login()" class="item-icon-left" ng-if="!$root.$storage.user">
          <i class="icon ion-log-in"></i>
          {{'LOGIN'|translate}}
        </ion-item>
        <ion-item menu-close href="#/app/posts/" class="item-icon-left">
          <i class="icon ion-home"></i>
          {{'HOME'|translate}}
        </ion-item>
        <ion-item menu-close href="#/app/bookmark" class="item-icon-left" ng-if="$root.$storage.bookmark && $root.$storage.bookmark.length>0">
          <i class="icon ion-bookmark"></i>
          {{'BOOKMARKS'|translate}}
        </ion-item>
        <!--<ion-item menu-close href="#/app/notifications" class="item-icon-left" ng-if="$root.$storage.notifications && $root.$storage.notifications.length>0">
          <i class="icon ion-bookmark"></i>
          {{'NOTIFICATIONS'|translate}}
        </ion-item>-->
        <ion-item menu-close href="#/app/send" class="item-icon-left" ng-if="$root.$storage.user">
          <i class="icon ion-android-send"></i>
          {{'TRANSFER'|translate}}
        </ion-item>
        <ion-item menu-close href="#/app/exchange/{{$root.$storage.user.username}}" class="item-icon-left" ng-if="$root.$storage.user">
          <i class="icon ion-arrow-swap"></i>
          {{'MARKET'|translate}}
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="item-icon-left">
          <i class="icon ion-android-settings"></i>
          {{'SETTINGS'|translate}}
        </ion-item>
        <ion-item menu-close href="#/app/about" class="item-icon-left">
          <i class="icon ion-information"></i>
          {{'ABOUT'|translate}}
        </ion-item>
      </ion-list>
    </ion-content>
    <!-- align to the bottom of the page -->
    <div style="position: absolute; bottom: 0px; width: 100%" ng-if="$root.$storage.appversion">
        <div style="text-align: center; color:#ccc;">
          <p>{{$root.$storage.appversion}}</p>
        </div>
    </div>
  </ion-side-menu>
</ion-side-menus>
