<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--<ion-header-bar class="bar-positive" ng-if="!$root.$storage.user">
      <h1 class="title center">eSteem</h1>
    </ion-header-bar>-->
    <ion-content>
      <br>
      <div ng-if="!$root.$storage.user">
        <center>
          <div class="item-myavater">
            <img ng-src="img/logo.png" width="80" />
          </div>
        </center>
      </div>
      <div ng-if="$root.$storage.user">
        <center>
          <div class="item-myavatar" ng-if="$root.$storage.user">
            <identicon username='$root.$storage.user.username' size='80'></identicon>
          </div>
          <h4>@{{$root.$storage.user.username}}&nbsp;<div class="reputation">{{$root.$storage.user.reputation|reputation|number:0}}</div></h4>
          <div ng-click="showMeExtra()" class="padding"><i class="icon ion-android-list"></i>&nbsp;{{$root.$storage.user.post_count}}&nbsp;&nbsp;<i class="icon ion-arrow-graph-up-right"></i>&nbsp;{{$root.$storage.user.voting_power/100|number:2}} <i class="icon pull-right gray" ng-class="{'ion-arrow-down-b':!showExtra, 'ion-arrow-up-b':showExtra}"></i></div>
        </center>
      </div>
      <div ng-if="showExtra">
        <ion-list>
          <ion-item menu-close href="#/app/profile/{{$root.$storage.user.username}}" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-person"></i>
            Profile
          </ion-item>
          <ion-item menu-close href="#/app/follow" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-person-stalker"></i>
            Follow
          </ion-item>
          <ion-item menu-close ng-click="logout()" class="item-icon-left" ng-if="$root.$storage.user">
            <i class="icon ion-log-out"></i>
            Logout
          </ion-item>
        </ion-list>
      </div>
      <ion-list>
        <ion-item menu-close ng-click="login()" class="item-icon-left" ng-if="!$root.$storage.user">
          <i class="icon ion-log-in"></i>
          Login
        </ion-item>
        <ion-item menu-close href="#/app/posts" class="item-icon-left">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item menu-close href="#/app/send" class="item-icon-left" ng-if="$root.$storage.user">
          <i class="icon ion-android-send"></i>
          Transfer
        </ion-item>
        <ion-item menu-close href="#/app/exchange/{{$root.$storage.user.username}}" class="item-icon-left" ng-if="$root.$storage.user">
          <i class="icon ion-arrow-swap"></i>
          Market
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="item-icon-left">
          <i class="icon ion-android-settings"></i>
          Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
