<ion-view view-title="" view-cache="false">
	<ion-nav-bar class="bar-positive">
		  <ion-nav-back-button>
    	</ion-nav-back-button>
	    <ion-nav-buttons side='left'>
	      <button class="button button-icon button-clear ion-navicon" ng-if="!$root.voiceOver" menu-toggle="left"></button>
        <a href class="button button-icon ion-more" ng-if="$root.voiceOver" menu-toggle="left">{{::translations.menu}}</a>
	    </ion-nav-buttons>
      <ion-nav-title>
      </ion-nav-title>
	    <ion-nav-buttons side='right'>
      <span ng-if="!$root.voiceOver">
        <button class="button button-icon button-clear" on-tap="bookmark()"><i class="icon" ng-class="{'ion-ios-bookmarks':isBookmarked(), 'ion-ios-bookmarks-outline':!isBookmarked()}"></i></button> &nbsp; 
	      <button class="button button-icon button-clear ion-android-share-alt" on-tap="sharing()"></button>
      </span>
      <span ng-if="$root.voiceOver">
        <a href class="button button-icon button-clear" on-tap="bookmark()"><i class="icon" ng-class="{'ion-ios-bookmarks':isBookmarked(), 'ion-ios-bookmarks-outline':!isBookmarked()}"></i>{{::translations.bookmark}}</a> &nbsp; 
        <a href class="button button-icon button-clear ion-android-share-alt" on-tap="sharing()">{{::translations.share}}</a>
      </span>
	    </ion-nav-buttons>
	</ion-nav-bar>
  <ion-floating-menu menu-color="#387ef5" menu-open-color="#387ef5" has-footer="true">
    <ion-floating-item icon="ion-chatbubbles" click="isreplying($root.sitem, true)" ng-if="$root.user.username" button-color="#387ef5" icon-color="#fff" text="{{::translations.reply}}" text-class="text-class"></ion-floating-item>
    <ion-floating-item icon="ion-android-arrow-dropup-circle" click="upvotePost($root.sitem)" button-color="#387ef5" icon-color="#fff" text="{{::translations.upvote}}" text-class="text-class"></ion-floating-item>
    <ion-floating-item icon="ion-edit" click="editPost($root.sitem)" ng-if="$root.sitem.author==$root.user.username && $root.sitem.cashout_time !== '1969-12-31T23:59:59'" button-color="#387ef5" icon-color="#fff" text="{{::translations.edit}}" text-class="text-class"></ion-floating-item>
    <ion-floating-item icon="ion-image" click="showImages(0)" ng-if="isImages()" button-color="#387ef5" icon-color="#fff" text="{{::translations.gallery}}" text-class="text-class"></ion-floating-item>
    <ion-floating-item icon="ion-arrow-return-right" ng-if="$root.user.username !== $root.sitem.author" click="$root.reBlog($root.sitem.author, $root.sitem.permlink)" button-color="#387ef5" icon-color="#fff" text="{{::translations.reblog}}" text-class="text-class"></ion-floating-item>
  </ion-floating-menu>
  <ion-content class="padding has-header" delegate-handle="mainScroll" overflow-scroll="true" ng-class="{'theme-dark':$root.$storage.theme == 'night'}"><!---->
    <div ng-if='$root.sitem'>
      <p class="title h3" ng-if="$root.sitem.root_title && $root.sitem.title==''"><a href="#/app/post{{$root.sitem.url.split('#')[0]}}">{{::translations.view}}</a></p>
    	<p class="title h3">{{::$root.sitem.title}}</p>
    	<div class="stitle row gray"><div class="col">
        <img class="round-avatar" check-image ng-src="{{::$root.paccounts[$root.sitem.author].profile.profile_image||$root.paccounts[$root.sitem.author].user_image}}" onerror="this.src=\'img/user_profile.png\'" onabort="this.src=\'img/user_profile.png\'" /> <b><a href="#/app/profile/{{$root.sitem.author}}">{{::$root.sitem.author}}</a></b>&nbsp;<div class="reputation">{{::$root.sitem.author_reputation|reputation|number:0}}</div>&middot;{{$root.sitem.created|timeago}} {{::translations.in}}&nbsp;{{::$root.sitem.category|detransliterate:false}}</div>
         <div class="pull-right">
          <span ng-if="$root.voiceOver">
            <i class="fa fa-flag" on-tap="downvotePost($root.sitem)" ng-if="!$root.sitem.downvoted">{{::translations.downvote}}</i>
            <i class="fa fa-flag positive" on-tap="unvotePost($root.sitem)" ng-if="$root.sitem.downvoted">{{::translations.undownvote}}</i>
          </span>
          <span ng-if="!$root.voiceOver">
            <i class="fa fa-flag" on-tap="downvotePost($root.sitem)" ng-if="!$root.sitem.downvoted"></i>
            <i class="fa fa-flag positive" on-tap="unvotePost($root.sitem)" ng-if="$root.sitem.downvoted"></i>
          </span>
         </div>
        </div>
    	<br><!---->
      <div class="bodytext selectable" ng-bind-html="$root.sitem | parseUrl">
      </div>

      <div ng-if='$root.sitem.parent_author == ""' class="tags">
        <div ng-repeat='tag in $root.sitem.json_metadata.tags'>
          <span><div class="tag" on-tap="openTag(tag, 5)">{{tag|detransliterate:false}}</div></span>
        </div>
      </div>
      <div ng-if='$root.sitem.parent_author != ""' class="tags">  
        <span><div class="tag" on-tap="openTag($root.sitem.category, 5)">{{::$root.sitem.category|detransliterate:false}}</div></span>
      </div>

      <div class="row gray">
        <div class="col col-33" ng-if="!$root.voiceOver"><ion-spinner ng-if="$root.sitem.invoting"></ion-spinner>
        <i class="fa fa-chevron-circle-up fa-lg" on-tap="upvotePost($root.sitem)" ng-if="!$root.sitem.upvoted && !$root.sitem.invoting" on-hold="openSliderr($event, $root.sitem)"></i><i class="fa fa-chevron-circle-up fa-lg positive" on-tap="unvotePost($root.sitem)" ng-if="$root.sitem.upvoted && !$root.sitem.invoting"></i>&nbsp;&nbsp;&nbsp;<span on-tap="$root.openInfo($root.sitem)">{{$root.sitem.net_votes}}</span></div>

        <div class="col col-33" ng-if="$root.voiceOver"><ion-spinner ng-if="$root.sitem.invoting"></ion-spinner>
        <i class="icon ion-android-arrow-dropup-circle" on-tap="upvotePost($root.sitem)" ng-if="!$root.sitem.upvoted" on-hold="openSliderr($event, $root.sitem)">{{::translations.upvote}}</i><i class="icon ion-android-arrow-dropup-circle positive" on-tap="unvotePost($root.sitem)" ng-if="$root.sitem.upvoted">{{::translations.unupvote}}</i>&nbsp;&nbsp;&nbsp;<span on-tap="$root.openInfo($root.sitem)">{{$root.sitem.net_votes}}</span></div>
        <div class="col col-33" on-tap="openTooltip($event,$root.sitem)"><b>{{::$root.$storage.currency|getCurrencySymbol}}</b> {{$root.sitem | sumPostTotal:$root.$storage.currencyRate | number}}</div>
        <div class="col" on-tap="isreplying($root.sitem, true)"><i class="fa fa-reply"></i> {{$root.sitem.children}}</div>
        <div class="col" on-tap="editPost($root.sitem)" ng-if="$root.sitem.author==$root.user.username && $root.sitem.cashout_time !== '1969-12-31T23:59:59'"><i class="fa fa-pencil-square-o"></i></div>
        <div class="col" on-tap="deletePost($root.sitem)" ng-if="$root.sitem.net_votes==0 && $root.sitem.author==$root.user.username"><i class="fa fa-trash-o"></i></div>
      </div>
      <center><button class="button button-positive button-outline button-icon ion-refresh icon-right" on-tap="fetchComments($root.sitem.author, $root.sitem.permlink)"><ion-spinner class="spinner-positive" ng-if="$root.fetching"></ion-spinner> {{::translations.comments}}</button></center>
      <br>
      <div class="my-handle"></div>
      
      <ion-thread comments="comments"></ion-thread>
    </div>
    <script id = "popoverTr.html" type="text/ng-template">
      <ion-popover-view class="detailedPost">
        <ion-content>
          <div class="padding" ng-bind-html="tooltipText"></div>
        </ion-content>
      
      </ion-popover-view>
    </script>
    <script id = "popoverSliderr.html" type="text/ng-template">
      <ion-popover-view class="detailedSlide">
        <ion-content class="padding">
          <div class="row">
              <div class="col col-10"><button class="button button-icon fa fa-chevron-circle-up fa-lg" on-tap="votePostS()"></button></div>
              <div class="col">
                <div class = "item range range-positive">
             {{rangeValue}} <input type="range" name="range2" min="0.01" step="0.01" max="100" ng-model="rangeValue" ng-change="drag(rangeValue)">
                </div>
              </div>
              <div class="col col-10"><button class="button button-icon ion-close-round" ng-click="closeSliderr()"></button></div>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
  </ion-content>
</ion-view>
