<ion-view view-title="">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
    	</ion-nav-back-button>
	    <ion-nav-buttons side="left">
	      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right">
	      <button class="button button-icon button-clear ion-android-share-alt" ng-click="share()"></button>
	    </ion-nav-buttons>
	</ion-nav-bar>
  <ion-content class="padding">
  	<p class="title h3">{{$root.$storage.sitem.title}}</p>
  	<p><a href="#" class="subdued"><i class="icon ion-android-time"></i> {{$root.$storage.sitem.last_update|timeago}} by <i class="icon ion-android-person"></i> {{$root.$storage.sitem.author}} in <i class="icon ion-pricetags"></i> {{$root.$storage.sitem.category}}</a></p>
  	<br>
    <div ng-bind-html="$root.$storage.sitem.body | parseUrl">
    </div>
    <br>
    
    <div class="row gray">
      <div class="col" ng-click="upvotePost($root.$storage.sitem)" ng-if="!$root.$storage.sitem.upvoted"><i class="icon ion-android-arrow-dropup-circle"></i> {{$root.$storage.sitem.net_votes}}</div>
      <div class="col" ng-click="unvotePost($root.$storage.sitem)" ng-if="$root.$storage.sitem.upvoted"><i class="icon ion-android-arrow-dropup-circle positive"></i> {{$root.$storage.sitem.net_votes}}</div>
      <div class="col" ng-click="downvotePost($root.$storage.sitem)" ng-if="!$root.$storage.sitem.downvoted"><i class="icon ion-android-arrow-dropdown-circle"></i> {{$root.$storage.sitem.active_votes.length-$root.$storage.sitem.net_votes}}</div>
      <div class="col" ng-click="unvotePost($root.$storage.sitem)" ng-if="$root.$storage.sitem.downvoted"><i class="icon ion-android-arrow-dropdown-circle positive"></i> {{$root.$storage.sitem.active_votes.length-$root.$storage.sitem.net_votes}}</div>

      <div class="col"><i class="ion-social-usd"></i> {{$root.$storage.sitem.total_pending_payout_value.split(" ")[0]|number}}</div>
      <div class="col"><i class="icon ion-chatbubbles"></i> {{$root.$storage.sitem.children}}</div> <div class="col" ng-click="isreplying(true)" ng-if="$root.$storage.user.username">Reply</div>
    </div>
    <div ng-if="replying">
      <textarea ng-model="data.comment" placeholder="write comment content here" autofocus rows="3" class="boxsizingBorder"></textarea>
      <div class="tcenter"><button class="button button-positive button-small" ng-click="reply($root.$storage.sitem)">Post</button> &nbsp; <button class="button button-small" ng-click="isreplying(false)">Cancel</button></div><br>
    </div>
    <ion-thread comments="comments"></ion-thread>
  </ion-content>
</ion-view>
