<ion-view view-title="" hide-nav-bar="true" view-cache="false"><!--ng-class="{'mpb':$root.$storage.user.json_metadata.profile.cover_image}"-->
  <ion-content class="has-footer" overflow-scroll="true">
    <div class="bar bar-subheader mysubheader bar-positive" ng-style="css||mcss">
      <button class="button button-icon button-clear ion-ios-arrow-back profilebtn" ng-click="goBack()"></button>
      <button class="button button-outline button-light profilebtn_follow" ng-click="followUser(user.username)" ng-if="$root.$storage.user && $root.$storage.user.username != user.username && !isFollowing(user.username)"><!--<i class="fa fa-user-plus fa-lg"></i>-->{{'FOLLOW'|translate}}</button>
      <button class="button button-clear profilebtn_follow button-icon ion-camera" ng-click="showCover()" ng-if="$root.$storage.user && $root.$storage.user.username === user.username"></button>
      <button class="button button-outline button-light profilebtn_follow" ng-click="unfollowUser(user.username)" ng-if="$root.$storage.user && $root.$storage.user.username != user.username && isFollowing(user.username)"><!--button-icon button-clear<i class="fa fa-user-times fa-lg"></i>-->{{'UNFOLLOW'|translate}}</button>&nbsp;
      <div class="center">
          <div class="item-myavatar" ng-if="$root.$storage.user && $root.$storage.user.username == user.username">
            <span class="item-myavatar" ng-if="!($root.$storage.user.json_metadata.profilePicUrl || $root.$storage.user.json_metadata.profile.profile_image)"><img src="img/user_profile.png" ng-click="showProfile()"></span>
            <img ng-src="{{$root.$storage.user.json_metadata.profile.profile_image || $root.$storage.user.json_metadata.profilePicUrl}}" ng-if="$root.$storage.user.json_metadata.profilePicUrl || $root.$storage.user.json_metadata.profile.profile_image" ng-click="showProfile()" />
            <div class="footprofileinfo">
              <h4 class="center">
                <span class="light">@{{$root.$storage.user.username}}</span>
                &nbsp;
                <div class="reputation">{{$root.$storage.user.reputation|reputation}}
                </div>
              </h4>
              <p>{{$root.$storage.user.json_metadata.profile.about}}</p>
              <div class="padding">
                <i class="icon ion-android-list"></i>&nbsp;
                {{$root.$storage.user.post_count}}&nbsp;
                |&nbsp;
                <i class="icon ion-arrow-graph-up-right"></i>&nbsp;
                {{$root.$storage.user.voting_power/100|number:2}}&nbsp;
                |&nbsp;<i class="icon ion-ios-people"></i>&nbsp;
                {{followdetails.follower_count}}&nbsp;
                |&nbsp;<i class="ion-person-add"></i>&nbsp;
                {{followdetails.following_count}}
              </div>
              <p><span ng-if="$root.$storage.user.json_metadata.profile && $root.$storage.user.json_metadata.profile.location">
                <i class="icon ion-location"></i>&nbsp;
                {{$root.$storage.user.json_metadata.profile.location}}
                &nbsp;
              </span>&nbsp;
              <span ng-if="$root.$storage.user.json_metadata.profile && $root.$storage.user.json_metadata.profile.website">
                <i class="icon ion-link"></i>&nbsp;
                <a ng-click="window.open('{{$root.$storage.user.json_metadata.profile.website}}', '_system');" style="color:white!important;text-decoration: underline;">WebSite</a>
                &nbsp;
              </span>
              <span ng-if="$root.$storage.user.created">
                <i class="icon ion-calendar"></i>&nbsp;
                {{$root.$storage.user.created|date}}
                &nbsp;
              </span></p>
            </div>
          </div>
          <div class="item-myavatar" ng-if="$root.$storage.user.username !== user.username">
            <span class="item-myavatar" ng-if="!(user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image)"><img src="img/user_profile.png" /></span>
            <img ng-src="{{user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image}}" ng-if="user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image" />
            <div class="footprofileinfo">
              <h4 class="center"><span class="light">@{{user.username}}</span>&nbsp;<div class="reputation">{{user.reputation|reputation}}</div></h4>
              <p>{{user.json_metadata.profile.about}}</p>
              <div class="padding"><i class="icon ion-android-list"></i>&nbsp;{{user.post_count}}&nbsp;|&nbsp;<i class="icon ion-arrow-graph-up-right"></i>&nbsp;{{user.voting_power/100|number:2}}&nbsp;|&nbsp;<i class="icon ion-ios-people"></i>&nbsp;
              {{followdetails.follower_count}}&nbsp;
              |&nbsp;<i class="ion-person-add"></i>&nbsp;
              {{followdetails.following_count}}</div>
              <p><span ng-if="user.json_metadata.profile && user.json_metadata.profile.location">
                <i class="icon ion-location"></i>&nbsp;
                {{user.json_metadata.profile.location}}
                &nbsp;
              </span>&nbsp;
              <span ng-if="user.json_metadata.profile && user.json_metadata.profile.website">
                <i class="icon ion-link"></i>&nbsp;
                <a ng-click="window.open('{{user.json_metadata.profile.website}}', '_system');" style="color:white!important;text-decoration: underline;">WebSite</a>
                &nbsp;
              </span>
              <span ng-if="user.created">
                <i class="icon ion-calendar"></i>&nbsp;
                {{user.created|date}}
                &nbsp;
              </span></p>
            </div>
          </div>
      </div>
    </div>
    <div class="has-mysubheader">
        <div class="box blue" ng-if="active!='wallet'||active!='permissions'">
          <p class="padding" ng-if="nonexist">{{'NOTHING_HERE'|translate}}</p>
          <ion-list>
            <!--<div ng-repeat="(key, playlist) in profile" class="item wrap" ng-click="open(playlist)">
            <h3 class="bold">{{playlist.root_title}}</h3>
            <span ng-bind-html="playlist.body.substring(0,100)|parseUrl"></span>
            </div>-->
            <div class="item" ng-repeat="playlist in data.profile | orderBy:'-created' | limitTo:25 track by $index" ng-class="{'item-thumbnail-left': playlist.json_metadata.image}">
              <img ng-src="{{playlist.json_metadata.image[0]}}" ng-click="open(playlist)" ng-if="playlist.json_metadata.image" onerror="this.src='img/noimage.png'"/>
                <div ng-click="open(playlist)">
                <div class="wrap">
                  <h2><i class="fa fa-money positive" ng-if="playlist.promoted.split(' ')[0] !== '0.000'"></i> <i class="fa fa-fire positive" ng-if="playlist.percent_steem_dollars === 0"></i>{{playlist.root_title}}</h2>
                </div>
                <div class="postdetails"><i class="icon ion-android-time"></i>&nbsp;{{playlist.created|timeago}}&nbsp;{{'BY'|translate}}&nbsp;<i class="icon ion-android-person"></i>&nbsp;{{playlist.author}}&nbsp;<div class="reputation">{{playlist.author_reputation|reputation|number:0}}</div></div>
                </div>
                <div class="row gray profile">
                  <div class="col"><ion-spinner ng-if="playlist.invoting"></ion-spinner>
                  <i class="fa fa-chevron-circle-up fa-lg" ng-click="upvotePost(playlist)" ng-if="!playlist.upvoted"></i><i class="fa fa-chevron-circle-up fa-lg positive" ng-click="unvotePost(playlist)" ng-if="playlist.upvoted"></i>&nbsp;&nbsp;<span ng-click="$root.openInfo(playlist)">{{playlist.net_votes}}</span>&nbsp;&nbsp;
                   <!--<i class="fa fa-chevron-circle-down fa-lg" ng-click="downvotePost(playlist)" ng-if="!playlist.downvoted"></i><i class="fa fa-chevron-circle-down fa-lg positive" ng-click="unvotePost(playlist)" ng-if="playlist.downvoted"></i>--></div>
                  <div class="col" ng-click="openTooltip($event,playlist)">&nbsp; <b>{{$root.$storage.currency|getCurrencySymbol}}</b> <span ng-if="playlist.max_accepted_payout.split(' ')[0] === '0.000'"><del>{{playlist | sumPostTotal | number}}</del></span><span ng-if="playlist.max_accepted_payout.split(' ')[0] !== '0.000'">{{playlist | sumPostTotal | number}}</span></div>
                  <div class="col">&nbsp; <i class="icon ion-chatbubbles"></i>&nbsp;{{playlist.children}}</div>
                  <div class="col" ng-if="playlist.author!==user.username && active!=='recent-replies'">&nbsp; <i class="icon ion-arrow-return-right"></i></div>
                </div>
            </div>
          </ion-list>
          <ion-infinite-scroll on-infinite="loadmore()" ng-if="moreDataCanBeLoaded()" distance="15%"></ion-infinite-scroll>
        </div>

        <div class="padding" ng-if="active=='transfers'">
          <p class="bold uppercase">
            {{'BALANCES'|translate}}
          </p>
          <div class="row">
            <div class="col col-67">
            {{$root.$storage.platformname}} <br><span class="gray wrap">{{'PROFILE_1'|translate:translationData }}</span>
            </div>
            <div class="col col-33">
            {{accounts.balance | st | number}} {{$root.$storage.platformlunit}}
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            {{$root.$storage.platformpower}} <br><span class="gray wrap">{{'PROFILE_2'|translate:translationData}}</span>
            </div>
            <div class="col col-33">
            {{accounts.vesting_shares | sp | number}} {{$root.$storage.platformpunit}}
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            {{$root.$storage.platformdollar}} <br><span class="gray wrap">{{'PROFILE_3'|translate:translationData}}</span>
            </div>
            <div class="col col-33">
            {{accounts.sbd_balance | sbd | number}} {{$root.$storage.platformdunit}}
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            {{'ESTIMATED_VALUE'|translate}} <br><span class="gray wrap">{{'PROFILE_4'|translate:translationData}}</span>
            </div>
            <div class="col col-33">
            ${{accounts.vesting_shares | sd:accounts.balance:accounts.sbd_balance | number}}
            </div>
          </div>
          <p class="bold">{{'TRANSACTION_HISTORY'|translate}}</p>
          <div class="list list-inset">
            <div class="item" ng-repeat="tr in transfers | orderBy:'-[0]' | limitTo:15 track by $index">
              <span>{{tr[1].timestamp | timeago}} - {{tr[1].op[0]}}</span>
              <div ng-if="tr[1].op[0]=='comment_reward'">{{tr[1].op[1].sbd_payout}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='author_reward'">{{tr[1].op[1].sbd_payout}} | {{tr[1].op[1].steem_payout}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='curation_reward'">{{tr[1].op[1].reward}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='transfer'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='transfer_to_vesting'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].vesting_shares}} | {{tr[1].op[1].memo}}</div>
              <p ng-if="tr[1].op[0]=='comment_reward'">@{{tr[1].op[1].author}}/{{tr[1].op[1].permlink}}</p>
              <p ng-if="tr[1].op[0]=='author_reward'">@{{tr[1].op[1].author}}/{{tr[1].op[1].permlink}}</p>
              <p ng-if="tr[1].op[0]=='curation_reward'">@{{tr[1].op[1].comment_author}}/{{tr[1].op[1].comment_permlink}}</p>
              <p ng-if="tr[1].op[0]=='transfer'">{{'FROM'|translate}} {{tr[1].op[1].from}} {{'TO'|translate}}  {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='transfer_to_vesting'">{{'FROM'|translate}}  {{tr[1].op[1].from}} {{'TO'|translate}}  {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].account}}</p>

            </div>
          </div>
        </div>

        <div class="box pink" ng-if="active=='permissions'">
          <div class="list card">
            <div class="item">
              <h2><div class="bold">{{'POSTING'|translate}}</div></h2>
              <p class="wrap">{{$root.$storage.user.posting.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.posting.key_auths[0][0]}}"></qrcode></center>
              <p>
                {{'PROFILE_5'|translate}}
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">{{'OWNER'|translate}}</div></h2>
              <p class="wrap">{{$root.$storage.user.owner.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.owner.key_auths[0][0]}}"></qrcode></center>
              <p>
                {{'PROFILE_6'|translate}}
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">{{'ACTIVE'|translate}}</div></h2>
              <p class="wrap">{{$root.$storage.user.active.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.active.key_auths[0][0]}}"></qrcode></center>
              <p>
                {{'PROFILE_7'|translate}}
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">{{'MEMO'|translate}}</div></h2>
              <p class="wrap">{{$root.$storage.user.memo_key}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.memo_key}}"></qrcode></center>
              <p>
                {{'PROFILE_8'|translate}}
              </p>
            </div>
          </div>
        </div>
    </div>
    <script id = "popoverPTr.html" type="text/ng-template">
      <ion-popover-view class="detailedPost">
        <ion-content>
          <div class="padding" ng-bind-html="tooltipText"></div>
        </ion-content>
      </ion-popover-view>
    </script>

  </ion-content>
  <div class="profile bar bar-footer">
    <div class="button-bar">
      <!--<a class="button button-large button-positive icon ion-ios-heart" ng-class="{'active':active=='feed'}" ng-click="change('feed')">&nbsp;Feeds</a>-->
      <a class="button button-large button-positive icon ion-compose" ng-class="{'active':active=='blog'}" ng-click="change('blog')">&nbsp;{{'BLOG'|translate}}</a>
      <a class="button button-positive icon ion-document-text" ng-class="{'active':active=='posts'}" ng-click="change('posts')">&nbsp;{{'POSTS'|translate}}</a>
      <a class="button button-positive icon ion-chatbubbles" ng-class="{'active':active=='recent-replies'}" ng-click="change('recent-replies')">&nbsp;{{'REPLIES'|translate}}</a>
      <a class="button button-positive icon ion-card" ng-class="{'active':active=='transfers'}"  ng-click="change('transfers')">&nbsp;{{'WALLET'|translate}}</a>
      <!--<a class="button button-royal icon ion-lock-combination" ng-class="{'active':active=='permissions'}" ng-click="change('permissions')">Keys</a>-->
    </div>
  </div>
</ion-view>
