<ion-view view-title="Profile @{{username}}">
  <div class="bar bar-subheader">
    <h2 class="title capital">{{active}}</h2>
  </div>
  <ion-content class="has-footer has-subheader">
        <div class="box blue" ng-if="active!='wallet'||active!='permissions'">
          <ion-list>
            <!--<div ng-repeat="(key, playlist) in profile" class="item wrap" ng-click="open(playlist)">
            <h3 class="bold">{{playlist.root_title}}</h3>
            <span ng-bind-html="playlist.body.substring(0,100)|parseUrl"></span>
            </div>-->
            <p class="padding" ng-if="nonexist">Nothing here, yet...</p>
            <div ng-repeat="playlist in profile | orderBy:'-last_update'">
              <div class="item">
                <div ng-click="open(playlist)">
                <div class="wrap">
                  <span class="bold h4">{{playlist.root_title}}</span><span class="pull-right"><i class="icon ion-pricetags"></i> {{playlist.category}}</span>
                </div>
                <div class=""><i class="icon ion-android-time"></i> {{playlist.last_update|timeago}} by <i class="icon ion-android-person"></i> {{playlist.author}}</div>
                </div>
                <p>
                  <a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropup-circle positive':playlist.upvoted, 'ion-android-arrow-dropup-circle':!playlist.upvoted}"></i> {{playlist.net_votes}}</a>
                  <a href="#" class="subdued"><i class="icon" ng-class="{'ion-android-arrow-dropdown-circle positive':playlist.downvoted, 'ion-android-arrow-dropdown-circle':!playlist.downvoted}"></i> {{playlist.active_votes.length-playlist.net_votes}}</a>
                  <span class="pull-right"><a href="#" class="subdued"><i class="ion-social-usd"></i> {{playlist.total_pending_payout_value.slice(0,-4)|number}}</a>|
                  <a href="#" class="subdued"><i class="icon ion-chatbubbles"></i> {{playlist.children}}</a></span>
                </p>
              </div>
          </div>
          </ion-list>
        </div>
      
        <div class="padding" ng-if="active=='transfers'">
          <p class="bold uppercase">
            Balances
          </p>
          <div class="row">
            <div class="col col-67">
            STEEM <br><span class="gray wrap">Steem, tradeable tokens that may be transferred at anytime. Steem can be converted to Steem Power in a process called powering up</span>
            </div>
            <div class="col col-33">
            {{accounts.balance | st | number}} STEEM
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            STEEM POWER <br><span class="gray wrap">Steem Power, influence tokens that earn more power for holding long term and voting on posts. The more one holds the more one can influence other’s rewards and earn rewards for accurate voting.</span>
            </div>
            <div class="col col-33">
            {{accounts.vesting_shares | sp | number}} SP
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            STEEM DOLLARS <br><span class="gray wrap">Tokens worth about $1.00 of Steem.</span>
            </div>
            <div class="col col-33">
            {{accounts.sbd_balance | sbd | number}} SBD
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            Estimated Value <br><span class="gray wrap">The estimated value is based on a 7 day average value of Steem.</span>
            </div>
            <div class="col col-33">
            ${{accounts.vesting_shares | sd | number}}
            </div>
          </div>
          <p class="bold">Transaction History</p>
          <div class="list list-inset">
            <div class="item" ng-repeat="tr in transfers | orderBy:'-[0]' | limitTo:15">
              <span>{{tr[1].timestamp | timeago}} - {{tr[1].op[0]}}</span>
              <div ng-if="tr[1].op[0]=='comment_reward'">{{tr[1].op[1].sbd_payout}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='curate_reward'">{{tr[1].op[1].reward}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='transfer'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='transfer_to_vesting'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].vesting_shares}} | {{tr[1].op[1].memo}}</div>
              
              <p ng-if="tr[1].op[0]=='comment_reward'">@{{tr[1].op[1].author}}/{{tr[1].op[1].permlink}}</p>
              <p ng-if="tr[1].op[0]=='curate_reward'">@{{tr[1].op[1].comment_author}}/{{tr[1].op[1].comment_permlink}}</p>
              <p ng-if="tr[1].op[0]=='transfer'">from {{tr[1].op[1].from}} to {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='transfer_to_vesting'">from {{tr[1].op[1].from}} to {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].account}}</p>

            </div>
          </div>
        </div>
      
        <div class="box pink" ng-if="active=='permissions'">
          <div class="list card">
            <div class="item">
              <h2><div class="bold">Posting</div></h2>
              <p class="wrap">{{$root.$storage.user.posting.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.posting.key_auths[0][0]}}"></qrcode></center>
              <p>
                The posting key is used for posting and voting. It should be different from the active and owner keys.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Owner</div></h2>
              <p class="wrap">{{$root.$storage.user.owner.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.owner.key_auths[0][0]}}"></qrcode></center>
              <p>
                The owner key is the master key for the account and is required to change the other keys. The private key or password for the owner key should be kept offline as much as possible.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Active</div></h2>
              <p class="wrap">{{$root.$storage.user.active.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.active.key_auths[0][0]}}"></qrcode></center>
              <p>
                The active key is used to make transfers and place orders in the internal market.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Memo</div></h2>
              <p class="wrap">{{$root.$storage.user.memo_key}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.memo_key}}"></qrcode></center>
              <p>
                The memo key is used to create and read memos.
              </p>
            </div>
          </div>
        </div>
        

  </ion-content>
  <div class="bar bar-footer">
    <div class="button-bar">
      <a class="button button-large button-royal icon ion-compose" ng-class="{'active':active=='blog'}" ng-click="change('blog')"> Blog</a>
      <a class="button button-royal icon ion-document-text" ng-class="{'active':active=='posts'}" ng-click="change('posts')">Posts</a>
      <a class="button button-royal icon ion-chatbubbles" ng-class="{'active':active=='recent-replies'}" ng-click="change('recent-replies')">Replies</a>
      <a class="button button-royal icon ion-card" ng-class="{'active':active=='transfers'}"  ng-click="change('transfers')">Wallet</a>
      <a class="button button-royal icon ion-lock-combination" ng-class="{'active':active=='permissions'}" ng-click="change('permissions')">Keys</a>
    </div>
  </div>
</ion-view>
