<ion-view view-title="" hide-nav-bar="true">
    <div class="bar bar-subheader mysubheader bar-positive">
    <button class="button button-icon button-clear ion-ios-arrow-back profilebtn" ng-click="goBack()"></button>
    <button class="button button-outline button-light profilebtn_follow" ng-click="followUser(user.username)" ng-if="$root.$storage.user && $root.$storage.user.username != user.username && !isFollowing(user.username)"><!--<i class="fa fa-user-plus fa-lg"></i>-->Follow</button>
    <button class="button button-outline button-light profilebtn_follow" ng-click="unfollowUser(user.username)" ng-if="$root.$storage.user && $root.$storage.user.username != user.username && isFollowing(user.username)"><!--button-icon button-clear<i class="fa fa-user-times fa-lg"></i>-->Unfollow</button>&nbsp;
    <div ng-if="$root.$storage.user">
      <center>
        <div class="item-myavatar" ng-if="$root.$storage.user && $root.$storage.user.username == user.username">
          <span class="item-myavatar" ng-if="!($root.$storage.user.json_metadata.profilePicUrl || $root.$storage.user.json_metadata.profile.profile_image)"><ng-letter-avatar data="{{$root.$storage.user.username}}" shape="round" ng-click="show()"></ng-letter-avatar></span>
          <img ng-src="{{$root.$storage.user.json_metadata.profile.profile_image || $root.$storage.user.json_metadata.profilePicUrl}}" ng-if="$root.$storage.user.json_metadata.profilePicUrl || $root.$storage.user.json_metadata.profile.profile_image" ng-click="show()" />
          <h4><span class="light">@{{$root.$storage.user.username}}</span>&nbsp;<div class="reputation">{{$root.$storage.user.reputation|reputation|number:0}}</div></h4>
          <div class="padding"><i class="icon ion-android-list"></i>&nbsp;{{$root.$storage.user.post_count}}&nbsp;|&nbsp;<i class="icon ion-arrow-graph-up-right"></i>&nbsp;{{$root.$storage.user.voting_power/100|number:2}}&nbsp;|&nbsp;<i class="icon ion-ios-people"></i>&nbsp;{{follower.length-1}}&nbsp;|&nbsp;<i class="ion-person-add"></i>&nbsp;{{following.length-1}}</div>
        </div>
        <div class="item-myavatar" ng-if="$root.$storage.user && $root.$storage.user.username != user.username"">
          <span class="item-myavatar" ng-if="!(user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image)"><ng-letter-avatar data="{{user.username}}" shape="round"></ng-letter-avatar></span>
          <img ng-src="{{user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image}}" ng-if="user.json_metadata.profilePicUrl || user.json_metadata.profile.profile_image" />
          <h4><span class="light">@{{user.username}}</span>&nbsp;<div class="reputation">{{user.reputation|reputation|number:0}}</div></h4>
          <div class="padding"><i class="icon ion-android-list"></i>&nbsp;{{user.post_count}}&nbsp;posts&nbsp;|&nbsp;<i class="icon ion-arrow-graph-up-right"></i>&nbsp;{{user.voting_power/100|number:2}}&nbsp;voting power</div>
        </div>
      </center>
    </div>
  </div>
  <ion-content class="has-footer has-mysubheader">
        <div class="box blue" ng-if="active!='wallet'||active!='permissions'">
          <ion-list>
            <!--<div ng-repeat="(key, playlist) in profile" class="item wrap" ng-click="open(playlist)">
            <h3 class="bold">{{playlist.root_title}}</h3>
            <span ng-bind-html="playlist.body.substring(0,100)|parseUrl"></span>
            </div>-->
            <p class="padding" ng-if="nonexist">Nothing here, yet...</p>
            <div ng-repeat="playlist in profile | orderBy:'-created' | limitTo:25">
              <div class="item">
                <div ng-click="open(playlist)">
                <div class="wrap">
                  <h2>{{playlist.root_title}}</h2>
                </div>
                <div class="postdetails"><i class="icon ion-android-time"></i>&nbsp;{{playlist.created|timeago}}&nbsp;by&nbsp;<i class="icon ion-android-person"></i>&nbsp;{{playlist.author}}&nbsp;<div class="reputation">{{playlist.author_reputation|reputation|number:0}}</div></div>
                </div>
                <div class="row gray">
                  <div class="col col-33"><ion-spinner ng-if="playlist.invoting"></ion-spinner>
                  <i class="icon ion-android-arrow-dropup-circle" ng-click="upvotePost(playlist)" ng-if="!playlist.upvoted"></i><i class="icon ion-android-arrow-dropup-circle positive" ng-click="unvotePost(playlist)" ng-if="playlist.upvoted"></i>&nbsp;{{playlist.net_votes}}&nbsp;
                   <i class="icon ion-android-arrow-dropdown-circle" ng-click="downvotePost(playlist)" ng-if="!playlist.downvoted"></i><i class="icon ion-android-arrow-dropdown-circle positive" ng-click="unvotePost(playlist)" ng-if="playlist.downvoted"></i></div>
                  <div class="col col-33"><i class="ion-social-usd"></i>&nbsp;{{playlist | sumPostTotal | number}}</div>
                  <div class="col"><i class="icon ion-chatbubbles"></i>&nbsp;{{playlist.children}}</div>
                </div>
              </div>
          </div>
          </ion-list>
        </div>
      
        <div class="padding" ng-if="active=='transfers'">
          <p class="bold uppercase">
            Balances
          </p>
          <div class="row">
            <div class="col col-67">
            STEEM <br><span class="gray wrap">Steem, tradeable tokens that may be transferred at anytime. Steem can be converted to Steem Power in a process called powering up</span>
            </div>
            <div class="col col-33">
            {{accounts.balance | st | number}} STEEM
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            STEEM POWER <br><span class="gray wrap">Steem Power, influence tokens that earn more power for holding long term and voting on posts. The more one holds the more one can influence other’s rewards and earn rewards for accurate voting.</span>
            </div>
            <div class="col col-33">
            {{accounts.vesting_shares | sp | number}} SP
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            STEEM DOLLARS <br><span class="gray wrap">Tokens worth about $1.00 of Steem.</span>
            </div>
            <div class="col col-33">
            {{accounts.sbd_balance | sbd | number}} SBD
            </div>
          </div>
          <div class="row">
            <div class="col col-67">
            Estimated Value <br><span class="gray wrap">The estimated value is based on a 7 day average value of Steem.</span>
            </div>
            <div class="col col-33">
            ${{accounts.vesting_shares | sd:accounts.balance:accounts.sbd_balance | number}}
            </div>
          </div>
          <p class="bold">Transaction History</p>
          <div class="list list-inset">
            <div class="item" ng-repeat="tr in transfers | orderBy:'-[0]' | limitTo:15">
              <span>{{tr[1].timestamp | timeago}} - {{tr[1].op[0]}}</span>
              <div ng-if="tr[1].op[0]=='comment_reward'">{{tr[1].op[1].sbd_payout}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='curate_reward'">{{tr[1].op[1].reward}} | {{tr[1].op[1].vesting_payout}}</div>
              <div ng-if="tr[1].op[0]=='transfer'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='transfer_to_vesting'">{{tr[1].op[1].amount}} | {{tr[1].op[1].memo}}</div>
              <div ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].vesting_shares}} | {{tr[1].op[1].memo}}</div>
              
              <p ng-if="tr[1].op[0]=='comment_reward'">@{{tr[1].op[1].author}}/{{tr[1].op[1].permlink}}</p>
              <p ng-if="tr[1].op[0]=='curate_reward'">@{{tr[1].op[1].comment_author}}/{{tr[1].op[1].comment_permlink}}</p>
              <p ng-if="tr[1].op[0]=='transfer'">from {{tr[1].op[1].from}} to {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='transfer_to_vesting'">from {{tr[1].op[1].from}} to {{tr[1].op[1].to}}</p>
              <p ng-if="tr[1].op[0]=='withdraw_vesting'">{{tr[1].op[1].account}}</p>

            </div>
          </div>
        </div>
      
        <div class="box pink" ng-if="active=='permissions'">
          <div class="list card">
            <div class="item">
              <h2><div class="bold">Posting</div></h2>
              <p class="wrap">{{$root.$storage.user.posting.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.posting.key_auths[0][0]}}"></qrcode></center>
              <p>
                The posting key is used for posting and voting. It should be different from the active and owner keys.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Owner</div></h2>
              <p class="wrap">{{$root.$storage.user.owner.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.owner.key_auths[0][0]}}"></qrcode></center>
              <p>
                The owner key is the master key for the account and is required to change the other keys. The private key or password for the owner key should be kept offline as much as possible.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Active</div></h2>
              <p class="wrap">{{$root.$storage.user.active.key_auths[0][0]}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.active.key_auths[0][0]}}"></qrcode></center>
              <p>
                The active key is used to make transfers and place orders in the internal market.
              </p>
            </div>
            <div class="item">
              <h2><div class="bold">Memo</div></h2>
              <p class="wrap">{{$root.$storage.user.memo_key}}</p>
            </div>
            <div class="item item-body">
              <center><qrcode class="full-image" text="{{$root.$storage.user.memo_key}}"></qrcode></center>
              <p>
                The memo key is used to create and read memos.
              </p>
            </div>
          </div>
        </div>
        

  </ion-content>
  <div class="profile bar bar-footer">
    <div class="button-bar">
      <a class="button button-large button-positive icon ion-ios-heart" ng-class="{'active':active=='feed'}" ng-click="change('feed')">&nbsp;Feeds</a>
      <a class="button button-large button-positive icon ion-compose" ng-class="{'active':active=='blog'}" ng-click="change('blog')">&nbsp;Blog</a>
      <a class="button button-positive icon ion-document-text" ng-class="{'active':active=='posts'}" ng-click="change('posts')">&nbsp;Posts</a>
      <a class="button button-positive icon ion-chatbubbles" ng-class="{'active':active=='recent-replies'}" ng-click="change('recent-replies')">&nbsp;Replies</a>
      <a class="button button-positive icon ion-card" ng-class="{'active':active=='transfers'}"  ng-click="change('transfers')">&nbsp;Wallet</a>
      <!--<a class="button button-royal icon ion-lock-combination" ng-class="{'active':active=='permissions'}" ng-click="change('permissions')">Keys</a>-->
    </div>
  </div>
</ion-view>
