<ion-view view-cache="false" view-title="{{'TRANSFER'|translate}}">
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href ng-click="changeTransfer('transfer')" ng-class="{'active': ttype=='transfer'}">
        {{"TRANSFER"|translate}}
      </a>
      <a class="tab-item" href ng-click="changeTransfer('escrow')" ng-class="{'active': ttype=='escrow'}">
        {{"ESCROW"|translate}}
      </a>
    </div>
  </div>

  <ion-content class="padding has-tabs-top" ng-class="{'theme-dark':$root.$storage.theme == 'night'}">

    <div class="list">
      <div class="item item-input item-icon-right" ng-if="!data.advanced">
        <span class="input-label">{{'TO'|translate}}</span>
        <input type="text" ng-model="data.username" placeholder="{{'TO_DESC'|translate}}" ng-change="changeUsername()" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <i class="icon fa fa-qrcode" ng-click="qrScan()" ng-if="ttype=='transfer'" ng-model-options="{debounce: 500}"></i>
      </div>
      <label class="item item-input" ng-if="ttype=='escrow'&&!data.advanced">
          <span class="input-label">{{"ESCROW_AGENT"|translate}}</span>
          <input type="text" readonly="readonly" placeholder="{{'USERNAME'|translate}}" ng-model="data.agent.name" ng-click="openUModal(data.agent)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model-options="{debounce: 500}"/>
      </label>
      <div class="item item-input item-icon-right" ng-if="ttype=='escrow'&&data.advanced">
        <span class="input-label">{{'ESCROW'|translate}} {{'ID'|translate}}</span>
        <input type="text" ng-model="data.escrow_id" placeholder="{{'SEARCH'|translate}}" ng-change="searchEscrowID(data.escrow_id)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model-options="{debounce: 500}">
      </div>
      <label class="item item-input item-select" ng-if="data.advanced">
        <span class="input-label">{{'OPTIONS'|translate}}</span>
        <select ng-model="data.etype" ng-if="ttype=='escrow'" ng-options="item.type as item.name for item in data.etypes track by item.id" ng-change="actionEChange()"></select>
      </label>
      <label class="item item-input item-select" ng-if="data.advanced&&data.etype=='release'">
        <span class="input-label">{{'RECEIVER'|translate}}</span>
        <select ng-model="escrow.receiver">
          <option value="{{escrow.to}}" ng-if="escrow.to!=$root.user.username">{{escrow.to}}</option>
          <option value="{{escrow.from}}" ng-if="escrow.from!=$root.user.username">{{escrow.from}}</option>
        </select>
      </label>
      <label class="item item-input item-select" ng-if="!data.advanced">
        <span class="input-label">{{'ASSET'|translate}}</span>
        <select ng-model="data.type" ng-if="ttype=='escrow'" ng-options="item.type as item.name for item in data.types | filter:showLiquid track by item.id"></select>
        <select ng-model="data.type" ng-if="ttype=='transfer'" ng-options="item.type as item.name for item in data.types track by item.id"></select>
      </label>
      <label class="item item-input" ng-if="!data.advanced">
        <span class="input-label">{{'AMOUNT'|translate}}</span>
        <input type="number" placeholder="{{'AMOUNT'|translate}}" step="0.001" ng-model="data.amount" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </label>
      <label class="item item-input" ng-if="data.type != 'sp'&&data.type != 'golosp' && !data.advanced">
        <span class="input-label">{{'MEMO'|translate}}</span>
        <textarea ng-model="data.memo" rows="3" placeholder="{{'PUBLIC_MEMO'|translate}}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model-options="{debounce: 500}"></textarea>
      </label>
      <div class="item" ion-datetime-picker ng-model="data.ratification" only-valid="{'after': 'today', 'inclusive': true}" ng-if="ttype=='escrow'&&!data.advanced">{{'RATIFICATION_DEADLINE'|translate}}: {{data.ratification| date: "yyyy-MM-dd H:mm:ss"}}</div>
      <div class="item" ion-datetime-picker ng-model="data.expiration" only-valid="{'after': 'today', 'inclusive': false}" ng-if="ttype=='escrow'&&!data.advanced">{{'ESCROW_EXPIRATION'|translate}}: {{data.expiration| date: "yyyy-MM-dd H:mm:ss"}}</div>
      <ion-toggle ng-if="ttype=='escrow'" ng-model="data.advanced" toggle-class="toggle-calm" ng-change="advancedEChange()">{{'ADVANCED'|translate}}</ion-toggle>
      <p class="item" ng-if="balance && !data.advanced">{{'AVAILABLE'|translate}}: {{balance.balance}}, {{balance.sbd_balance}} <i class="icon ion-refresh pull-right" ng-click="refresh()"></i></p>
      <br>
      <div ng-if="ttype=='escrow' && data.advanced && escrow.escrow_id">
        <div class="row"><div class="col">{{"FROM"|translate}}:</div><div class="col">{{escrow.from}}</div></div>
        <div class="row"><div class="col">{{"TO"|translate}}:</div><div class="col">{{escrow.to}}</div></div>
        <div class="row"><div class="col">{{"ESCROW_AGENT"|translate}}:</div><div class="col">{{escrow.agent}}</div></div>
        <div class="row"><div class="col">{{"ESCROW_FEE"|translate}}:</div><div class="col">{{escrow.fee}} {{escrow.fee_symbol}}</div></div>
        <div class="row"><div class="col">{{'RATIFICATION_DEADLINE'|translate}}:</div><div class="col">{{escrow.ratification_deadline|date:'short'}}</div></div>
        <div class="row"><div class="col">{{'ESCROW_EXPIRATION'|translate}}:</div><div class="col">{{escrow.escrow_expiration|date:'short'}}</div></div>
        <div class="row"><div class="col">{{"ESCROW_TERMS"|translate}}:</div><div class="col">{{escrow.json_meta.terms}}</div></div>
        <div class="row"><div class="col">{{'MEMO'|translate}}:</div><div class="col">{{escrow.json_meta.memo}}</div></div>
      </div>
      <center ng-if="ttype=='transfer'"><button class="button button-positive" ng-click="transfer('transfer')">
        {{'SEND'|translate}}
      </button></center>
      <center ng-if="ttype=='escrow'&&!data.advanced"><button class="button button-positive" ng-click="transfer('escrow')">
        {{'SEND'|translate}}
      </button></center>
      <center ng-if="ttype=='escrow'&&data.advanced"><button class="button button-positive" ng-click="escrowAction()">
        {{'SUBMIT'|translate}}
      </button></center>
      <br>
      <center ng-if="ttype=='transfer'"><qr text="$root.user.username"></qr></center>
      <center ng-if="ttype=='transfer'"><i class="italic">{{$root.user.username}}</i></center>
    </div>
  </ion-content>
  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <div class="bar bar-header bar-positive item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="{{'SEARCH'|translate}}" ng-change="getUserAgent(data.query)" ng-model="data.query" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model-options="{debounce: 500}">
        </label>
        <button class="button button-clear button-outline" ng-click="closeUModal()">
          {{"CANCEL"|translate}}
        </button>
      </div>
      <ion-content class="has-header">
        <div class="list" ng-if="data.searchResult.length>0">
          <a class="item" ng-repeat="x in data.searchResult" ng-click="selectAgent(x)">
            <h2>{{'ESCROW_AGENT'|translate}}: {{x.name}}</h2>
            <div ng-if="x.escrow" class="wrap">{{'ESCROW_TERMS'|translate}}: {{x.escrow.terms}}</div>
            <p class="wrap">{{'ESCROW_FEE'|translate}}: {{x.escrow.fees[$root.$storage.platformlunit]}} {{$root.$storage.platformlunit}} / {{x.escrow.fees[$root.$storage.platformdunit]}} {{$root.$storage.platformdunit}}
            </p>
          </a>
        </div>
        <center class="padding" ng-if="data.searchResult.length==0">
          {{"USER_NOTFOUND"|translate}}
        </center>
      </ion-content>
    </ion-modal-view>

  </script>
</ion-view>
