<ion-view view-cache="false" view-title="{{'TRANSFER'|translate}}">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input item-icon-right">
        <span class="input-label">{{'TO'|translate}}</span>
        <input type="text" ng-model="data.username" placeholder="{{'TO_DESC'|translate}}" ng-change="changeUsername()">
        <i class="icon ion-ios-camera-outline" ng-click="qrScan()"></i>
      </div>
      <label class="item item-input item-select">
        <span class="input-label">{{'ASSET'|translate}}</span>
        <!--<select ng-model="data.type" ng-change="typechange()">
            <option value="steem">STEEM</option>
            <option value="sbd">SBD</option>
            <option value="sp">SP</option>
        </select>-->
        <select ng-model="data.type" ng-options="item.type as item.name for item in data.types track by item.id"></select>
      </label>
      <label class="item item-input">
        <span class="input-label">{{'AMOUNT'|translate}}</span>
        <input type="number" placeholder="{{'AMOUNT'|translate}}" step="0.001" ng-model="data.amount">
      </label>
      <label class="item item-input" ng-if="data.type != 'sp'&&data.type != 'golosp'">
        <span class="input-label">{{'MEMO'|translate}}</span>
        <textarea ng-model="data.memo" rows="3" placeholder="{{'PUBLIC_MEMO'|translate}}"></textarea>
      </label>
      <p class="item" ng-if="balance">{{'AVAILABLE'|translate}}: {{balance.balance}}, {{balance.sbd_balance}} <i class="icon ion-refresh pull-right" ng-click="refresh()"></i></p>
      <br>
      <center><button class="button button-positive" ng-click="transfer()">
        {{'SEND'|translate}}
      </button></center>
      <br>
      <center><qr text="$root.$storage.user.username"></qr></center>
      <center><i class="italic">{{$root.$storage.user.username}}</i></center>
    </div>
  </ion-content>
</ion-view>
