<ion-view view-cache="false" view-title="{{'SETTINGS'|translate}}">
  <ion-content class="padding has-header settings">
    <br/>
    <div class="item item-divider">
      {{'SECURITY'|translate}}
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"PIN_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'PIN_CODE'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.pin" ng-change="pinChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    <div ng-if="$root.$storage.user">
    <div class="item item-divider">
      {{'NOTIFICATIONS'|translate}}
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"VOTE_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'VOTE'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.vote" ng-change="notificationChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"COMMENT_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'COMMENT'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.comment" ng-change="notificationChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"FOLLOW_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'FOLLOW'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.follow" ng-change="notificationChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"MENTIONS_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'MENTIONS'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.mention" ng-change="notificationChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"RESTEEM_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'RESTEEM'|translate}}</span>
      </div>
      <div class="col pull-right tright">
        <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="data.resteem" ng-change="notificationChange()">
         <div class="track">
           <div class="handle"></div>
         </div>
        </label>
      </div>
    </div>
    </div>
    <div class="item item-divider">
      {{'CONFIGURATIONS'|translate}}
    </div>

    <div class="row" ng-if="$root.$storage.user">
      <div class="col col-33">
      <span class="slabel" ng-click='openTooltip($event,"{{"VOTING_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'VOTING'|translate}} (%)</span>
      </div>
      <div class="col">
      <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
      </div>
    </div>

    <div class="row">
      <div class="col col-33">
        <span class="slabel" ng-click='openTooltip($event,"{{"LANGUAGES_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'LANGUAGES'|translate}}</span>
      </div>
      <div class="col">
        <select ng-model="$root.$storage.language" ng-change='changeLanguage($root.$storage.language)'>
          <option ng-repeat="option in $root.$storage.languages" value="{{option.id}}">{{option.name}}</option>
        </select>
        <!--<div class="capital">{{$root.$storage.language}} <div class="pull-right"><i class="icon ion-chevron-right"></i></div></div>-->
      </div>
    </div>

    <div class="row">
      <div class="col col-33">
        <span class="slabel" ng-click='openTooltip($event,"{{"CURRENCY_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'CURRENCY'|translate}}</span>
      </div>
      <div class="col">
        <select ng-model="$root.$storage.currency" ng-change='changeCurrency($root.$storage.currency)'>
          <option ng-repeat="option in $root.$storage.currencies" value="{{option.id}}">{{option.name}}</option>
        </select>
        <!--<div class="capital">{{$root.$storage.language}} <div class="pull-right"><i class="icon ion-chevron-right"></i></div></div>-->
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        <span class="slabel" ng-click='openTooltip($event,"{{"CHAIN_TEXT"|translate}}")'><i class="icon ion-ios-information-outline gray"></i> {{'CHAIN'|translate}}</span>
      </div>
      <div class="col">
        <select ng-model="$root.$storage.chain" ng-change='changeChain($root.$storage.chain)'>
          <option ng-repeat="option in $root.$storage.chains" value="{{option.id}}">{{option.name}}</option>
        </select>
        <!--<div class="capital">{{$root.$storage.language}} <div class="pull-right"><i class="icon ion-chevron-right"></i></div></div>-->
      </div>
    </div>

    <div class="row">
      <div class="col col-33">
        <span class="slabel" ng-click='openTooltip($event,"<span class=\"bold\">{{"SERVER_TEXT"|translate}}:</span><br><span class=\"wrap\">[steemit] wss://steemd.steemit.com</span><br/><br/><span class=\"wrap\">[steem.ws] wss://node.steem.ws</span><br/><br/><span class=\"wrap\">[piston] wss://this.piston.rocks</span><br/><br/><span class=\"wrap\">[golos] wss://ws.golos.io</span><br/><br/><span class=\"wrap\">[golos.ws] wss://node.golos.ws</span>
        ")'><i class="icon ion-ios-information-outline gray"></i> {{'SERVER'|translate}}</span>
      </div>
      <div class="col">
        <input type="text" placeholder="Server" ng-model="socket" style="width:100%;" ng-change="socketChange(socket)">
      </div>
    </div>

    <!--<div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <button class="button button-positive" ng-click="changeLanguage('ru')">Change RU</button>-->
    <br/>
    <script id = "popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="padding" ng-bind-html="tooltipText"></div>
        </ion-content>
      
      </ion-popover-view>
    </script>
    <div class="tcenter">
      <button class="button button-positive" ng-click="save()">{{'SAVE_CHANGES'|translate}}</button>
    </div>
  </ion-content>
</ion-view>
