/* Empty. Add your own CSS if you like */
.wrap {
	text-overflow: wrap!important;
	white-space: normal!important;
}
.item .wrap {
	text-overflow: wrap!important;
	white-space: normal!important;	
}
.padding {
	padding: 10px;
}
.pull-right {
	float: right;
}
.bold {
	font-weight: bold;
}
.center {
	vertical-align: middle!important;
	text-align: center!important;
}
.footinfo {
	font-size: 3.5vw;
	width: 100%;
}
.pane img {
	max-width: 100%;
}
.gray {
	color: gray;
}
.item-select {
	width: 30%;
}
.item-select select {
	left: 0;
	padding-right: 0;
	margin-right: 0;
}
.italic {
	font-style: italic;
}
.error {
	color: red;
}
.capital {
	text-transform: uppercase;
}
.bar-footer .button-bar .button.icon {
	display: block;
	text-align: center;
	font-size: 3.0vw;
}
.bar-footer .button-bar .button.icon:before {
	display: block;
	text-align: center;
	margin: auto;
	padding: auto;
	margin-top: 3px;
	/*font-size: 3.5vw;*/
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.bar-footer .button-bar .button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.bar-footer {
	height: 60px;
	padding: 0;
}
.has-footer {
	bottom: 60px;
}
.exchange .header .col {
    background-color:lightgrey;
}
.exchange .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.exchange .col:last-child {
    border-right: solid 1px grey;
}

.exchange .row:last-child .col {
    border-bottom: solid 1px grey;
}