/* Empty. Add your own CSS if you like */
/*
* {
font-family: 'Source Serif Pro', serif; //'Gotham Rounded Book'!important;
}
*/
.wrap {
	text-overflow: wrap!important;
	white-space: normal!important;
}
.twrap {
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
}
.item .wrap {
	text-overflow: wrap!important;
	white-space: normal!important;	
}
.item.comments p {white-space: pre-wrap !important; }
.item.comments .nowrap {white-space: nowrap!important;}
.item.comments h5 {white-space: nowrap!important;}

.item-icon-left i.icon {
  font-size: 20px!important;
}
hr {
	color: #ddd;
}
.padding {
	padding: 10px;
}
.leftpadding {
  padding-left: 10px;
  margin-left: 10px;
}
.pull-right {
	float: right;
}
.bold {
	font-weight: bold;
}
.center {
	vertical-align: middle!important;
	text-align: center!important;
}
.footinfo {
	font-size: 3.5vw;
	width: 100%;
}
.postdetails {
  font-size: 14px;
}
.mysubheader {
  top: 0px!important;
  height: 190px!important;
}
.platform-ios .mysubheader {
  padding-top: 20px!important;
}

.has-mysubheader {
  top: 190px;
}
.pane img {
	max-width: 100%;
}
.gray {
	color: gray;
}
.search.item-select {
	width: 30%;
}
.search.item-select select {
	left: 0;
	padding-right: 0;
	margin-right: 0;
}
.italic {
	font-style: italic;
}
.error {
	color: red;
}
.capital {
	text-transform: uppercase;
}
.profile.bar-footer .button-bar .button.icon {
	display: block;
	text-align: center;
	font-size: 3.0vw;
}
.profile.bar-footer .button-bar .button.icon:before {
	display: block;
	text-align: center;
	margin: auto;
	padding: auto;
	margin-top: 3px;
	/*font-size: 3.5vw;*/
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.profile.bar-footer .button-bar .button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.profile.bar-footer {
	height: 60px;
	padding: 0;
}/*
.button-small {
  width: 30px;
  height: 30px;
}*/
.has-footer {
	bottom: 60px;
}
.exchange .header .col {
    background-color:lightgrey;
}
.exchange .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.exchange .col:last-child {
    border-right: solid 1px grey;
}

.exchange .row:last-child .col {
    border-bottom: solid 1px grey;
}
textarea.markdown-input {
  width: 100%;
  height: 20vh;
}
.bodytext ol {
  list-style-type: decimal!important;
  padding-left: 15px;
}
.bodytext ul {
  list-style-type: disc!important;
  padding-left: 15px;
}
.bodytext em {
  font-style: italic!important;
}
.bodytext i {
  font-style: italic!important;
}
.markdown-toolbar button {
  width: 20px!important;
}
.profilebtn {
  position: absolute!important;
}
.profilebtn_follow {
  position: absolute!important;
  right: 0!important;
  margin-right: 5px!important;
  margin-bottom: 5px!important;
  bottom: 0!important;
}

/***************************************/
/*Comments                             */
/***************************************/

.ion-comment {
  font-size: 12px;
  padding: 6px 15px;
  overflow: visible;
  white-space: normal;
  border: none;
}
.ion-comment .item-options .button {
  background-color: #f8f8f8;
}
.ion-comment--text p {
  overflow: visible;
  white-space: normal;
}
.ion-comment .item-content,
.ion-comment .item-content p {
  padding: 0;
  overflow: visible;
  white-space: normal;
  font-size: 13px;
  color: #3f3f3f
}
.ion-comment--author {
  color: #9494ff;
  margin-bottom: 6px;
}
.ion-comment--op {
  color: #8899a6;
}
.ion-comment--replies {
  color: #8899a6;
  text-align: right;
}
.ion-comment--score {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  color: #8899a6;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.positives {
	background-color: #387ef5;
}
.calms {
  background-color: #11c1f3;
}
.spinner svg {
  width: 16px;
  height: 16px; 
}

@media only screen and (min-device-width:320px) { 
  img {
    max-width: 100%;
    height: auto;
    display: block;
    /*max-height: 35vh!important;*/
  }
}
@media only screen and (min-device-width:768px) { 
  img {
    max-width: 100%;
    display: block;
    height: auto;
    /*max-height: 50vh!important;*/
  }
}
.selectable{
  -webkit-user-select: auto;
}
.ion-comment--container {
  background-color: #f8f8f8;
}
.ion-comment--children {
  margin-left: 10px;
}
.ion-android-arrow-dropup-circle {
	font-size: 20px;
}
.ion-android-arrow-dropup {
	font-size: 20px;
}
.ion-android-arrow-dropdown {
	font-size: 20px;
}
.ion-android-arrow-dropdown-circle {
	font-size: 20px;
}
.item .ion-android-arrow-dropup-circle {
	font-size: 18px;
}
.item .ion-android-arrow-dropup {
	font-size: 18px;
}
.item .ion-android-arrow-dropdown {
	font-size: 18px;
}
.item .ion-android-arrow-dropdown-circle {
	font-size: 18px;
}
.tright {
	text-align: right;
}
.tcenter {
	text-align: center!important;
}
.item .row {
	padding: 0;
	margin: 0;
}
.item .row .col {
	padding: 0;
	margin: 0;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}

.reputation {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid #dadada;
  color: ##8a8a8a;
}
.stitle.row, .stitle.row .col {
	padding: 0px;
}
.item-myavatar > img:first-child {
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: 100%;
  border-radius: 50%!important; 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px #999, 0 1px 1px 1px rgba(0,0,0,.2);
}

.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.1); 
}
.platform-android .action-sheet {
  align-content: center;
  margin:auto;
  max-width: 96vw;
  border-radius: 5px;
  margin-bottom: 20px!important;
}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  text-align: left;
  font-size: 16px;
  color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
  font-size: 14px;
  padding: 16px;
  color: #666; 
}
.platform-android .action-sheet .button {
  border-color: #e2e2e2;
  padding-left: 16px;
  color: #104e89;
}
.platform-android .action-sheet .button.destructive {
  color: red;
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
  background: #e8e8e8; 
}
.platform-android .action-sheet-group {
  border-radius: 0;
  background-color: #fafafa; 
}
.platform-android .action-sheet-cancel {
  display: block!important;
}
.platform-android .action-sheet-has-icons .button {
  padding-left: 56px; 
}

.rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 35px 0 15px 0;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rzslider.with-legend {
  margin-bottom: 40px;
}

.rzslider[disabled] {
  cursor: not-allowed;
}

.rzslider[disabled] .rz-pointer {
  cursor: not-allowed;
  background-color: #d8e0f3;
}

.rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

.rzslider .rz-base {
  width: 100%;
  height: 100%;
  padding: 0;
}

.rzslider .rz-bar-wrapper {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 32px;
  padding-top: 16px;
  margin-top: -16px;
  box-sizing: border-box;
}

.rzslider .rz-bar-wrapper.rz-draggable {
  cursor: move;
}

.rzslider .rz-bar {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background: #d8e0f3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.rzslider .rz-bar.rz-selection {
  z-index: 2;
  background: #0db9f0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.rzslider .rz-pointer {
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #0db9f0;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.rzslider .rz-pointer:after {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  content: '';
}

.rzslider .rz-pointer:hover:after {
  background-color: #ffffff;
}

.rzslider .rz-pointer.rz-active {
  z-index: 4;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: #451aff;
}

.rzslider .rz-bubble {
  bottom: 16px;
  padding: 1px 3px;
  color: #55637d;
  cursor: default;
}

.rzslider .rz-bubble.rz-selection {
  top: 16px;
}

.rzslider .rz-bubble.rz-limit {
  color: #55637d;
}

.rzslider .rz-ticks {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 0;
  padding: 0 11px;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.rzslider .rz-ticks .rz-tick {
  width: 10px;
  height: 10px;
  text-align: center;
  cursor: pointer;
  background: #d8e0f3;
  border-radius: 50%;
}

.rzslider .rz-ticks .rz-tick.rz-selected {
  background: #0db9f0;
}

.rzslider .rz-ticks .rz-tick .rz-tick-value {
  position: absolute;
  top: -30px;
  transform: translate(-50%, 0);
}

.rzslider .rz-ticks .rz-tick .rz-tick-legend {
  position: absolute;
  top: 24px;
  max-width: 50px;
  white-space: normal;
  transform: translate(-50%, 0);
}

.rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value {
  top: initial;
  bottom: -40px;
}

.rzslider.rz-vertical {
  position: relative;
  width: 4px;
  height: 100%;
  padding: 0;
  margin: 0 20px;
  vertical-align: baseline;
}

.rzslider.rz-vertical .rz-base {
  width: 100%;
  height: 100%;
  padding: 0;
}

.rzslider.rz-vertical .rz-bar-wrapper {
  top: auto;
  left: 0;
  width: 32px;
  height: 100%;
  padding: 0 0 0 16px;
  margin: 0 0 0 -16px;
}

.rzslider.rz-vertical .rz-bar {
  bottom: 0;
  left: auto;
  width: 4px;
  height: 100%;
}

.rzslider.rz-vertical .rz-pointer {
  top: auto;
  bottom: 0;
  left: -14px !important;
}

.rzslider.rz-vertical .rz-bubble {
  bottom: 0;
  left: 16px !important;
  margin-left: 3px;
}

.rzslider.rz-vertical .rz-bubble.rz-selection {
  top: auto;
  left: 16px !important;
}

.rzslider.rz-vertical .rz-ticks {
  top: 0;
  left: -3px;
  z-index: 1;
  width: 0;
  height: 100%;
  padding: 11px 0;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.rzslider.rz-vertical .rz-ticks .rz-tick {
  vertical-align: middle;
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value {
  top: initial;
  left: 22px;
  transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend {
  top: initial;
  right: 24px;
  max-width: none;
  white-space: nowrap;
  transform: translate(0, -28%);
}

.rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value {
  right: 12px;
  bottom: initial;
  left: initial;
}

.vcenter{
    top: 30%;
    overflow: auto;
}
.button-stretch {
    width: 100%;
}
.col-offset-15 {
    margin-left: 15%;
}
.settings i {
  font-size: 18px!important;
}
.settings .row .slabel {
  
}

#floating-button {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index : 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

#floating-button>li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#floating-button a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    font-size: 0.8em;
}

#floating-button .icon.menu-icon{
    font-size: 20px;
}

/*floating-menu*/

#floating-menu .icon.menu-icon{
    font-size: 20px;
}

#floating-menu {
    position: fixed;
    right: 20px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

#floating-menu li.menu-button {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#floating-menu li{
    position: absolute;
    left: 0.5px;
    top: 0.5px;
    width: 98%;
    height: 98%;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#floating-menu li span.label{
    margin-right: 2px;
    color: gray;
    background-color: white;
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0.5px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
}


#floating-menu li span.label-container{
    margin-right: 2px;
    position: absolute;
    display: inline-block;
    visibility: hidden;
    top: 0px;
    overflow: hidden;
    right: 75px;
    width: 100px;
    text-align: right;
    font-size: 15px;
}

#floating-menu.active span.label-container{
    visibility: visible;
}


#floating-menu.active li{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*#floating-menu li {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    font-size: 0.8em;
}*/

#floating-menu > li  {
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: .4s;
}

#floating-menu.active > li:nth-child(1) {
    transition-delay: 0ms; -webkit-transition-delay: 0ms; top: -70px;
}
#floating-menu.active > li:nth-child(2) {
    transition-delay: 50ms; -webkit-transition-delay: 50ms; top: -140px;
}
#floating-menu.active > li:nth-child(3){
    transition-delay: 100ms; -webkit-transition-delay: 100ms; top: -210px;
}
#floating-menu.active > li:nth-child(4){
    transition-delay: 150ms; -webkit-transition-delay: 150ms; top: -280px;
}
#floating-menu.active > li:nth-child(5){
    transition-delay: 200ms; -webkit-transition-delay: 200ms; top: -350px;
}
#floating-menu.active > li:nth-child(6){
    transition-delay: 250ms; -webkit-transition-delay: 250ms; top: -420px;
}
.bar.bar-subheader.mynav {
  padding: 0!important;
  margin: 0!important;
  border: 0!important;
}
.mynav nav {
    background: #387ef5 none repeat scroll 0 0;
    /*border-bottom: 8px solid #fff;
    border-top: 2px solid #40b5a2;*/
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.mynav nav ul {
    margin: 0 -999em 2em 0;
    white-space: nowrap;
}
.mynav nav ul li {
    float: left;
}
.mynav nav ul li a, nav ul li span {
    background: #387ef5 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.3s;
}
.mynav nav ul li a:hover, nav ul li span:hover {
    background: #11c1f3 none repeat scroll 0 0;
}
.mynav .arrow {
    border-color: #387ef5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 10px 10px 0;
    display: none;
    height: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 0;
}
.mynav .active .arrow {
    display: block;
}
.tabbed-slidebox .slider {
    height: 100%;
}
.tabbed-slidebox.btm .slider {
    margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
    width: 100%;
}

.tabbed-slidebox .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color: #fff;
    /*text-align: center;*/
    font-weight: 300;
}

.tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 0px 0; /*10px 0*/
    position: relative;
    background-color:#387ef5;
}

.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
  -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
    display: inline-block;
    width: 54px;
    padding-bottom: 5px;
    font-size: 1.3em!important;
    color: rgba(255, 255, 255, 0.7);
  -webkit-transform:translate3d(0,8px,0);
}

.tabbed-slidebox .tsb-icons a.active {
    color: rgba(255, 255, 255, 1);
    font-size: 1.8em!important;
  -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tabbed-slidebox .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}
.tsb-hscroll.scroll-view{
  white-space: nowrap;
  margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
  visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
  width:auto;
  font-size: 1.2em!important;
  line-height: 1.5em!important;
  text-decoration: none;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
  font-size: 1.5em!important;
  border-bottom: 3px solid #ccc;
}
.slider-slide h4{
  color:#fff;
  margin-top:10px;
}

.tabbed-slidebox .tsb-icons:after{
  display:none;
}

.menuPopover {
  height: 220px!important;
}

.text-class {
  background-color: #000!important;
  color: #fff!important;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.gallery-transparent {
  background: rgba(0,0,0,0.7);
}
 
.galler-slider {
    width: 100%;
    height: 100%;
}
 
.gallery-image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}